[2017-05-19 05:10] haxorof opened #1 "Add support to specify daemon.json file to copy"
Add variable docker_daemon_config_file which shall be copied to /etc/docker/.

[2017-05-23 11:36] haxorof opened #2 "Task "Configure Docker daemon" fails because of missing directory"
Executing the role with defined Docker daemon configuration fail in clean environment:
[code]

Failing task:
[code]

[2017-05-25 08:39] #2 closed

[2017-05-25 08:58] #1 closed

[2017-06-05 13:10] haxorof opened #3 "Add configuration support to enable Docker CE Edge versions"
Docker CE stable is released every third month. The edge version of CE is released every month and this is not possible to get currently with this role.

See link below which describes how to enable edge version:
https://docs.docker.com/engine/installation/linux/fedora/#install-using-the-repository

Suggest to add configuration variable `docker_enable_ce_edge`

[2017-06-08 18:29] haxorof opened #4 "Add simple support to setup devicemapper using container-storage-setup"
To get a more production ready configuration setup of Docker engine devicemapper and lvm-direct shall be used on RedHat/CentOS and Fedora. Project Atomic has a Github project called `container-storage-setup` which makes it more easy to setup and recreate if the time comes to just wipe everything and start over.

Adding support to choose if this shall be used in a simple way is something which woul

[2017-06-26 21:11] #4 closed

[2017-06-27 22:08] #3 closed

[2017-06-30 12:28] haxorof opened #5 "Add configuration option for adding audit rules for Docker compliant with CIS 1.13"
Add configuration option to role so it will set some default audit rules for Docker engine installation which is compliant with CIS 1.13 (https://learn.cisecurity.org/benchmarks).

Suggestion to add the following rules in file `/etc/audit/rules.d/docker.rules`:
[code]

Some rules which is comment out in the above list does not exists in some distributions. For example in Fedora 25 with Docker CE 1

[2017-06-30 12:41] haxorof commented on #5
Variable to enable this: `docker_enable_audit`

[2017-06-30 13:26] #5 closed

[2017-07-21 11:09] britishbadger opened #6 "Missing docker.service.d directory"
Excellent ansible role, much better than my own. I did however have a few issues, the first was I had to add:

- name: Ensure etc/systemd/system/docker.service.d directory exists
  file: path=/etc/systemd/system/docker.service.d state=directory

to main-Storage.yml. Unfortunately I can't submit a pull request at present.

[2017-07-21 11:20] haxorof commented on #6
Thanks @britishbadger for reporting this.

I will make a fix for that probably today.

[2017-07-21 11:21] britishbadger opened #7 "Devicemapper setup"
Hi
I was trying to setup devicemapper using the
    docker_setup_devicemapper: true

Unfotunately this seems to skip on the following check
  when: docker_stat_storage.stat.exists == false
in main-Storage and I couldn't work out where this is set.

I found the project atomic storage setup instructions http://www.projectatomic.io/docs/docker-storage-recommendation.

Using this setup should I need t

[2017-07-21 11:51] haxorof commented on #7
Hi @britishbadger

First of all I would just say that this implementation to setup the device mapper is quite simple at the time. When I tried to follow the Docker instructions to setup the device mapper it initially did not work well on Fedora I think. So I went for utilizing project atomic's setup scripts.

This docker_stat_storage is basically used to avoid doing the storage setup steps if file

[2017-07-21 12:49] britishbadger commented on #7
I've ran this on Centos 7.3.  Looking through the files, /etc/sysconfig/docker-storage never gets created. I'll create a new VM and try again and let you know.

Thanks

[2017-07-21 12:58] haxorof commented on #7
Thanks!
The docker-storage shall be created if the service `docker-storage-setup` starts correctly. Check `systemctl status docker-storage-setup` to see if it complains or not.

Let me know if you find something after you tested again in a new VM.

Cheers!

[2017-07-21 13:08] britishbadger commented on #7
I definately remember that failing, but I guess because /usr/lib/systemd/system/docker-storage-setup.service is then set, means things are skipt ? I'm just re-provisioning my vm so will know shortly

[2017-07-21 14:01] haxorof commented on #7
Thanks for letting me know about this.

Yes, I will have to do some improvements there (will write issue on this). I just tried it now and failed the first time and then the role will just skip the steps even if the storage setup failed.

[2017-07-21 15:23] haxorof commented on #7
Hmm.. now when I tried the docker-storage-setup it now failed as seen below when I had added a physical volume (/dev/sdb) to a volume group:
[code]

I have not see this before and it seem the lvcreate command failed for me. To fix this I needed to execute the lvcreate command which was executed in `/usr/bin/container-storage-setup` . Running to get the lvcreate command I needed I first executed th

[2017-07-21 15:34] haxorof opened #8 "Not good behavior when docker-storage-setup fails"
If device mapper shall be used and the docker-storage-setup fails the first time it will skip several tasks next time the role is executed. This leads to Docker being setup without device mapper and it can clearly be seen when executing `docker info`.

[2017-07-21 15:55] #6 closed

[2017-07-22 14:44] haxorof commented on #7
@britishbadger As you said Docker has done some improvements related to setting up the devicemapper in v17.06 and now I tried a minimal config to get that up and running which works in my CentOS 7.3.1611:
[code]
**Note!** I cannot set `userns-remap` to default because it seems Docker daemon tries to create dockremap user and uses a command which does is not compatible with CentOS.

After Docker da

[2017-07-22 14:52] haxorof opened #9 "Docker fails to setup subgid and subuid in CentOS 7.3.1611"
It seems that Docker uses arguments to `usermod` which is not compatible with the `usermod` in CentOS 7.3.1611. Have note investigated this deeper but here is what I see in the Docker daemon log during startup:
[code]

[2017-07-22 15:36] #9 closed

[2017-08-13 10:48] haxorof commented on #7
@britishbadger Did you manage to resolve the issues with the devicemapper configuration? Did you go for the `storage-opts` `dm.directlvm_device`?

I thinking of deprecating the `docker_setup_devicemapper` because it is more simple now in v17.06.

Cheers!

[2017-08-16 12:44] britishbadger commented on #7
I used the
storage-opts:
        - "dm.directlvm_device=/dev/sdb1"
and let docker worry about setting that up for me, it was just easier.

I run with userns-remap and all seemed to work for me. Might just be a difference in the base image I'm using.

[2017-08-16 12:44] #7 closed

[2017-08-16 21:24] haxorof opened #10 "Remove config parameter docker_setup_devicemapper"
Since Docker v17.06 there is an easy way which is almost identical to this setup using this configuration parameter, see #7 for more info.

Feature to be removed was implemented: #4

[2017-08-17 13:52] haxorof commented on #8
Closing this issue because of #10

[2017-08-17 13:52] #8 closed

[2017-09-26 18:55] haxorof opened #12 "Deprecation warning about include in Ansible 2.4"
Include has been deprecated in Ansible 2.4 and will be removed in 2.8. Include needs to be replaced with `include_tasks` (http://docs.ansible.com/ansible/latest/list_of_utilities_modules.html)
[code]

[2017-10-07 17:05] #10 closed

[2017-10-20 20:24] jamiejackson opened #13 "Kernel parameter fs.may_detach_mounts is necessary even if mount flag is set to slave"
I just discovered this role today. It covers a lot of bases, but it might be missing one.

I had been having issues on my host (with another Docker role, FWIW) until I added the following:

[code]

I see this (https://github.com/haxorof/ansible-role-docker-ce/blob/master/tasks/main-Mountflags.yml) but IIRC, I'd encountered an issue even with that set.

Thoughts?

## References:

* https://github.c

[2017-10-20 21:23] jamiejackson opened #14 "Running Docker Bench against Role-Provisioned Host"
I'm new to this role as of today (and just heard of Docker Bench from this project's README). I'm trying this out with the following on a CentOS 7.4 VM:

[code]

I tried running the [`docker run` from Docker Bench](https://github.com/docker/docker-bench-security/blob/a5a40e80a94bf6fd39c9246e56ff7b3c42436605/README.md#running-docker-bench-for-security), but I hit some hurdles. Here's the first:

[c

[2017-10-21 08:31] haxorof commented on #14
Hi @jamiejackson
First of all I am glad you are trying out my role. The reason why you cannot run Docker Bench in a container like that is because the more secure configuration you now have does now allow you to do that. I have not myself used the container version of Docker bench so I cannot say if it might be possible run. What will work is if you just use git and clone the Docker bench to your

[2017-10-21 08:34] haxorof commented on #13
Thanks @jamiejackson for letting me know about this. I will have a look at it and read the links you provided.

[2017-10-21 15:53] jamiejackson commented on #14
Got it, thanks. This works:

[code]

Now to pore over the items in the report.

[2017-10-21 15:53] #14 closed

[2017-10-21 16:20] jamiejackson opened #15 "Provisioning Host in Preparation for "dm.directlvm_device=/dev/sdb1""
It's a shot in the dark that you might know this (it involves Vagrant), but here goes.

I'm trying to see if I can satisfy the "1.1 Ensure a separate partition for containers has been created" check.

The following configurations are stripped down to remove anything that's not directly related to this question.

The `Vagrantfile` happens to use the [`vagrant-persistent-storage` plugin](https://git

[2017-10-21 16:38] jamiejackson commented on #15
Looks like you already [answered my question in your test suite](https://github.com/haxorof/ansible-role-docker-ce/blob/8677e61202bf3b685c2171005c29495c42ea6e91/tests/Vagrantfile#L10-L17)!

[2017-10-21 17:10] jamiejackson commented on #15
Hmm, I'd thought that with the role and your Vagrantfile, and the playbook snippet above, that I'd stop getting:

[code]
I that to be expected?

Also, maybe this would be for another GH issue, but I'll bring it up here first:

I do get a couple of other `WARN`s, too:

[code]
I haven't read up on those yet, but are those to be expected, as well?

[2017-10-22 10:15] haxorof commented on #15
The `Vagrantfile` I have under tests is something I just did quickly but to do some tests. I will revisit it and see if I can provide with a better example.

Related to the 1.1 section I think that even if you configure Docker to use `devicemapper` and `direct-lvm` it will complain about 1.1 because it only looks for `/var/lib/docker` shall exist in file `/etc/fstab`.

Even if you do not pass this

[2017-10-22 14:28] haxorof commented on #15
Now I have updated the `Vagrantfile` under `tests` directory. After you have executed `vagrant up` you will see one example of to PASS the 1.1. After the box is up and running you will also find Docker Bench for Security under `/home/vagrant/docker-bench-security`.

Please try and have a look. Note! I use one Ansible [playbook](https://github.com/haxorof/ansible-role-docker-ce/blob/master/tests/te

[2017-10-22 14:57] haxorof opened #16 "auditd does not apply all rules after reboot because of rule errors"
After applying audit rules using `docker_enable_audit` everything seems fine is check with Docker Bench for Security.
[code]
However after reboot (using Vagrantfile under tests) errors is seen during auditd startup so some rules are not applied.

[code]

[code]

One way to fix this might be to add a new lines in the rules saying `-c` which let auditd continue processing rules even if errors are se

[2017-10-22 15:28] #13 closed

[2017-10-26 06:44] haxorof opened #17 "Add support to ensure Docker is not upgraded"
Currently it always upgrades Docker to the latest version which is not always what you want. Add variable to specify if it always shall ensure latest version of Docker or not.

[2017-10-26 17:43] #17 closed

[2017-10-27 09:32] haxorof opened #18 "/proc/sys/fs/may_detach_mounts does not exists in all kernel 3.10 versions"

[2017-10-27 09:42] #18 closed

[2017-10-29 17:54] haxorof commented on #15
@jamiejackson Did it work out for you in the end?

Cheers!

[2017-10-29 17:56] haxorof opened #19 "Refactoring of tasks"
Refactor tasks and split up in more files which fits together etc.

[2017-10-29 18:17] #19 closed

[2017-10-31 04:28] jamiejackson commented on #15
I'll try to circle back around to this in the next couple days, thanks!

[2017-11-04 01:02] jamiejackson commented on #15
Looks like 1.1 passes, thanks!

[code]

[2017-11-05 18:38] haxorof opened #20 "Support for Ubuntu and Debian"
Add initial support for Ubuntu and Debian distributions.

[2017-11-05 18:43] #20 closed

[2017-11-05 20:51] jamiejackson commented on #15
Now that I'm taking a closer look, I have some questions:

[test_config_storage_prepare.yml](https://github.com/haxorof/ansible-role-docker-ce/blob/b0e86eb9314db3419c3ff30ef230518bad3fbae5/tests/test_config_storage_prepare.yml ) sets up two partitions, `sdb1` (`var/lib/docker`) and `sdb2`.

Then, [test_config_storage.yml](https://github.com/haxorof/ansible-role-docker-ce/blob/b0e86eb9314db3419c3ff

[2017-11-05 21:23] haxorof commented on #15
Related to the test configuration in `test_config_storage.yml` it is `sdb2` where all the images and containers will be stored when `direct-lvm` is used.

Below are two links I recommend you to read which go into this in more detail:
https://docs.docker.com/engine/userguide/storagedriver/selectadriver/
https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/

Hope it will be mo

[2017-11-06 06:17] #16 closed

[2017-11-11 10:29] haxorof opened #21 "Add support to specify specific Docker version"

[2017-11-16 19:55] jamiejackson opened #22 "fstype ext4 vs. xfs"
Hello again, @haxorof,

Is `ext4` the recommended fstype for CentOS for Docker? (I see that you changed over the tests from `xfs` to `ext4` in [a recent commit](https://github.com/haxorof/ansible-role-docker-ce/commit/b0e86eb9314db3419c3ff30ef230518bad3fbae5#diff-0e48f0ebc1d5ce50d1872d84efa5c318).)

[2017-11-16 19:57] jamiejackson opened #23 "Commit comment format"
The format of `Fixes #N`, (e.g., "Fixes #20") makes the changelog difficult to use. What do you think about commenting in a format along the lines of "Support for Ubuntu and Debian #20"?

[2017-11-16 20:26] haxorof commented on #22
Hi @jamiejackson

I am not sure what Docker recommend for CentOS but I have experienced problems using xfs in the past and also depends on what kind of workload you have on the machine. I you google a bit around this you will finds some different answers but if want it to work more smooth on both CentOS/RHEL 7.x then ext4 is to choose I think. Here is one discussion for example: https://community.

[2017-11-16 20:30] haxorof commented on #23
Hi @jamiejackson
I have not thought so much about the commit log more than make it easy to handle issues. Reason I commits using "Fixes #N" is because there is a hook in github which then also closes the issue automatically. 😄 However, sure I can add some more text to the commit message just to make it more clear when you only look at the commit log.

However I have created a changelog which I kee

[2017-11-16 21:13] jamiejackson commented on #23
Ah, thanks. The CHANGELOG.md is good. I think I'd noticed it at one point, but forgot about it. Since lots of projects don't have one, I'm used to looking at the comments.

[2017-11-16 21:13] #23 closed

[2017-11-16 21:14] jamiejackson commented on #22
Got it, thanks again.

[2017-11-16 21:14] #22 closed

[2017-11-22 17:57] #15 closed

[2017-11-22 19:26] jamiejackson opened #24 "Support for Linux Mint (or Hack Suggestion?)"
There's one machine I'm targeting which is running Linux Mint:

[code]

I hacked up the role locally to get it to work (it's the same as Ubuntu 16.04), but I'm wondering if there's a way to override these facts, for a given host, to fool the role into thinking it's Ubuntu 16.04. Do you happen to know?

Otherwise, the role itself could support Linux Mint, but I'm not sure how much effort this proje

[2017-11-22 20:28] haxorof commented on #24
So Docker works on Linux Mint even though Docker does not support it according to their matrix? If it is similar to Ubuntu 16.04 I can see what can be done

[2017-11-22 21:13] jamiejackson commented on #24
Well, empirically, it seems to work, but since it's not in the [matrix](https://success.docker.com/Policies/Compatibility_Matrix), it might not make sense to give it first-class treatment.

FWIW, here's a Mint/Ubuntu version mapping: https://en.wikipedia.org/wiki/Linux_Mint_version_history

[2017-11-22 21:39] jamiejackson opened #25 "Optional dm.directlvm_device"
This is really an Ansible question, but I'm having trouble getting help with it.

Some of my hosts will have a different device for `dm.directlvm_device`--not a problem, I can use a variable for that. However, some hosts don't have a dedicated `dm.directlvm_device`. I'm not sure how to toggle the presence of the `dm.directlvm_device` element (or alternatively, I guess, the `storage-opts` key).

Do

[2017-11-22 22:26] jamiejackson commented on #25
It was easier than I thought:

playbook.yml
[code]

Some hosts have no storage opts:

[code]

And some will:

[code]

[2017-11-22 22:26] #25 closed

[2017-11-25 21:55] #21 closed

[2017-11-26 19:32] haxorof commented on #24
@jamiejackson : I have done a commit to support Linux Mint 18. Can you verify that it works for you?

[2017-12-08 12:06] #24 closed

[2017-12-22 16:37] jamiejackson commented on #24
Works, thanks!

[2018-01-18 22:36] jamiejackson opened #26 "Support RedHat"
Whoops! I had been developing against CentOS this whole time, in preparation for our real servers (RHEL). (In the past, I've had trouble trying to run RHEL locally, due to licensing issues, so I run CentOS to test what I develop for RHEL.) I finally have it to the point where my Ops colleague ran it and...

`FAILED! => {"changed": false, "msg": "Distribution RedHat is not supported by this role!"}

[2018-01-19 05:32] haxorof commented on #26
Hi @jamiejackson
The thing is that this role is created for Docker CE and to run on RedHat Docker requires Docker EE. Have a look on the Docker documentation here: https://docs.docker.com/engine/installation/

[2018-01-19 22:46] jamiejackson commented on #26
That's a good point. I needed it, though, so I added it (see PR). I also added a disclaimer about Linux Mint and RHEL.

[2018-01-20 10:27] haxorof commented on #26
Thanks @jamiejackson for the PR.

I will have a look, hopefully some time before Monday.

[2018-01-22 17:38] #26 closed

[2018-02-01 15:48] haxorof opened #28 "Install failed on CentOS because of newly added RedHat support"
Executing on CentOS 7 the role fails on the conditional check below:

[code]

[2018-02-01 15:59] #28 closed

[2018-02-19 18:39] jamiejackson opened #30 "Downgrade from Edge to Stable"
I had been running with edge, but I ran into this: https://github.com/docker/for-linux/issues/211

What's the cleanest way to downgrade to stable, and should the role support downgrades (e.g., remove the edge repo and package and install the latest from stable)?

[2018-02-19 18:51] jamiejackson commented on #30
Looks like the role handles disabling of the edge repo when `docker_enable_ce_edge: false`, so running `yum remove docker-ce` before re-running the role seems to take care of everything.

Pretty easy workaround, but I'll leave you to consider whether to support downgrades.

[2018-02-20 06:54] haxorof commented on #30
Thanks @jamiejackson

I will think about it a bit and see if it would be a good fit or not. The workaround is quite easy.

Cheers!

[2018-02-25 15:19] giovannicandido opened #31 "Install specific version in centos"
Hi,
To create a kubernets clusters is necessary the installation of docker 17.03 which is the last supported.

Trying to change the name of package gives the error:

[code]

Which says package docker-ce-selinux is incompatible.

To solve the problem it needs install both at the same time:

[code]

[2018-02-26 05:13] haxorof commented on #31
Thanks @giovannicandido for reporting this. Will have a look at this and see what can be done in the role to best solve this.

Cheers!

[2018-03-03 11:23] haxorof commented on #31
Hi,
I have looked into this a bit and it seems related to the "obsoletes" option specified in yum and Docker CE packages. When you install this older Docker CE 17.03 package it somehow fails because obsolete restrictions was added in Docker CE 17.06 package. Does it work for you @giovannicandido if you install Docker CE like this:
[code]

If this works for you then one option would be to globally

[2018-03-03 15:44] giovannicandido commented on #31
It works, attention to the caveat of conflict if downgrading is necessary the remove of dependencies

[code]

Also to make sure the config is on CentOS here is a ansible reciple:

[code]

[2018-03-03 15:44] #31 closed

[2018-04-05 23:38] jamiejackson opened #32 "Namespace problem in CentOS 7.4"
OS: `CentOS Linux release 7.4.1708 (Core)`

My ultimate target is RHEL 7.4, but I'm working on CentOS, ATM.

Have you used namespaces yet? I'm having issues.

I'm going to paste in my notes from my own private issue tracker:

Details: https://docs.docker.com/engine/security/userns-remap/#enable-userns-remap-on-the-daemon

Notes:

In trying to implement this, I added the following to the playbook,

[2018-04-06 04:41] haxorof commented on #32
Yes, I have tried this before and worked for me. I see that you enabled user namespaces using grubby but it might be that you are only missing one little thing more. Have a look at the link below and you see you might need to increase user.max_user_namespaces so it is higher than zero: https://success.docker.com/article/user-namespace-runtime-error

If that does not resolve you issue I can have a

[2018-04-06 15:44] jamiejackson opened #33 "starting setns process caused \"fork/exec /proc/self/exe: no such file or directory\"""
https://access.redhat.com/solutions/2991041

`Red Hat Enterprise Linux Server release 7.4 (Maipo)` (but I assume it would happen on CentOS 7.4, too).

We into this today after an app server became inaccessible. We got the aforementioned error when `docker exec`ing into the container (then afterward, we got `driver failed programming external connectivity on endpoint` when trying to restart the con

[2018-04-06 16:05] jamiejackson commented on #32
Did you have to do extra tweaks outside of the role to make it work? Had you tried it on a version of CentOS that had the issue?

I'm thinking ahead to getting the role to correctly configure namespace support, and whether the hacks in the [article that you mentioned](https://success.docker.com/article/user-namespace-runtime-error) could be applied across the board or whether they'd need to be bas

[2018-04-06 16:32] haxorof commented on #32
The kernel changes etc I do outside in for example a different role which is responsible for more kernel or similar. Not sure if I tried it on CentOS 7.4.

Do not want this Docker role to do too much tweaks on the OS because it then it might do to much and other roles might then have conflicting configs. Related to user namespaces this role assumes the OS is configured correctly before this role a

[2018-04-06 16:52] haxorof commented on #33
Hmm.. the slave mount flag was added because in CentOS if was very easy to end up with problems when you used volume mapping. So based on what you reference here it might be good to have a variable to not always apply the slave mount flag as it is done today.

Then about having an logic for `live-restore` I do not know. If too much logic is introduced looking at variable `docker_daemon_config` the

[2018-04-06 18:28] jamiejackson opened #34 "Is MountFlags=slave still necessary?"
I have to admit that a lot of this configuration is over my head (some of it slightly, some of it completely), but I wanted to bring up a potential development.

I'm wondering if the [systemd drop in for `MountFlags`](https://github.com/haxorof/ansible-role-docker-ce/blob/5a639c0d3e0f1da401ac042adf17afbc27455d95/files/etc/systemd/system/docker.service.d/mountflags-slave.conf) is still necessary, g

[2018-04-06 18:32] jamiejackson commented on #33
Please see #34 for a question about the slave mount flag (I wasn't sure I'd be muddying the water in this ticket).

I'm still thinking about live-restore issue & the rest of your response...

[2018-04-10 03:35] jamiejackson commented on #32
This is what I've got so far, which seems to work. After a reboot, it seems to work (i.e., `docker run --rm hello-world` runs properly).

[code]

[2018-04-10 17:13] haxorof commented on #34
I am thinking about introducing a variable like `docker_disable_mount_flag_fix` but default that to `no` to not break any existing things with is using this role today.

What do you think about that @jamiejackson to start with?

[2018-04-10 17:43] haxorof commented on #32
I think that including something in the README.md to help people a bit can be a good start because doing these changes related to grub in this role probably require reboot of the instance to get it to work. Take the scenario where you basically want to use user namespaces in Docker and just want to apply this role and everything shall work without restart. Then you better have fixed the grubby par

[2018-04-10 17:47] haxorof commented on #33
https://github.com/moby/moby/issues/35873

[2018-04-10 17:55] haxorof commented on #32
Just as a side note related to the creation of `dockeremap`. You find a variable to disable the things I did in this role to compensate for some differences by changing this:

[code]
Do not know if this is fixed now or not.

[2018-04-10 18:37] jamiejackson commented on #34
I guess it's either that or start a backwards-incompatible new release. From what I gather, that `MountFlags` workaround will become less and less relevant as people upgrade Docker versions, but I guess now may not be the time to remove it. Maybe the role could introduce and deprecate (with a warning) your new variable all at once. ;-)

In any case, I think it might be a good idea ([as you mention

[2018-04-10 19:02] jamiejackson commented on #33
Let me take a step back:

Given the state of the current, stable Docker and OS (I'm getting 18.03.0-ce on RHEL 7.4), do you interpret (from the of the various OS/docker bugs/workarounds/fixes) that I can have both:
* Containers stay up during daemon restart (which I _think_ I want, but I don't know enough about the feature to know whether/why I might not want it).
* Volume mounts work as expected

[2018-04-14 07:33] haxorof commented on #34
I think I close this issue and the fixed made in #35 will be good for now. Related to the future if someone want have some systemd drop-ins for Docker I think I leave that until a demand for it appears. 😄

[2018-04-14 07:33] #34 closed

[2018-04-14 10:32] #32 closed

[2018-05-01 22:28] haxorof opened #37 "Add tags to either install or just configure Docker"
It could be good sometimes to just skip the installation part and just do the configuration and necessary restarts. Also the other way around could be needed during some phases.

[2018-05-01 22:30] #37 closed

[2018-05-18 14:17] jamiejackson opened #38 "Docker Daemon Config Change doesn't Trigger Restart"
I made a change (`docker_daemon_config.live-restore: true` => `false`), and the change wasn't manifest until I restarted the daemon manually.

Changes to `daemon.json` should trigger a daemon restart.

[2018-05-21 22:17] haxorof commented on #38
Hi @jamiejackson !

I just did a test in a CentOS 7 and the trigger to restart the Docker is happening every time I do a change in `docker_daemon_config`. Here is the playbook I used in the test:
[code]

Below is the Ansible version I used:
[code]

What version of Ansible do you use?

Cheers!

[2018-05-21 22:21] haxorof opened #39 "systemctl daemon-reload is not run when toggling docker_enable_mount_flag_fix"
`systemctl daemon-reload` must be run when toggling the configuration `docker_enable_mount_flag_fix` but this is not done so this can be seen if looking at the `systemctl status docker`:
[code]

[2018-05-27 09:26] haxorof opened #40 "Deprecation warning about filters in Ansible 2.5"
Use of [Jinja tests used as filters](https://docs.ansible.com/ansible/2.5/porting_guides/porting_guide_2.5.html#jinja-tests-used-as-filters) has been marked deprecated in Ansible 2.5. Not possible to move to this syntax without breaking Ansible version compatibility for this role.
[code]

[2018-05-29 14:20] haxorof commented on #38
I think the solution might be to use the meta module in Ansible which you can put as a task before your tasks. To trigger handlers you just do the following:
[code]

Hope that works for you.

Cheers!

[2018-06-07 08:12] #12 closed

[2018-06-23 19:16] haxorof opened #41 "Role is not idempotent for Ubuntu and Debian distributions"
Task below indicated as changed every time.
[code]

[2018-06-23 20:02] haxorof opened #42 "Cannot set hosts in daemon.json because of arguments to dockerd"
It is not possible to only use `docker_daemon_config` to configure Docker daemon to for example also expose the TCP socket, see example below:
[code]

You will see this error in the journal logs:
[code]

[2018-06-24 11:59] haxorof commented on #42
https://github.com/moby/moby/issues/25471

[2018-06-27 19:03] haxorof opened #43 "Add support to add environment variables to Docker daemon"
If you want to for example configure proxy settings for Docker this shall be put as environment variables to the process which is described [here](https://docs.docker.com/config/daemon/systemd/#httphttps-proxy).

In this role it now exists an environment file referenced by a systemd drop-in which can be extended to add  additional environment variables like `HTTPS_PROXY` etc.

https://github.com/h

[2018-07-06 08:38] haxorof opened #44 "Add support to add systemd configuration options to Docker service"
Extend the systemd drop-in support so it will be possible to add additional systemd configuration option. This will make it possible to modify behavior for the service which is advanced configuration.

[2018-07-06 09:22] #44 closed

[2018-07-06 16:21] #43 closed

[2018-07-07 23:53] haxorof commented on #39
Is fixed by changes done in #44

[2018-07-07 23:53] #39 closed

[2018-07-08 07:46] haxorof opened #45 "Ansible Galaxy linting report error during import"
After upgrade of Ansible Galaxy it now seems to do some linting before import which show errors:
[code]

Import is still successful but should fix these issues.

[2018-07-08 09:22] haxorof opened #46 "null written to /etc/docker/daemon.json"
When `test_defaults.yml` is used during testing `null` is written to `daemon.json`
[code]

[2018-07-08 11:32] #45 closed

[2018-07-08 11:54] #46 closed

[2018-10-03 09:12] ndusart opened #48 "Add support to install Docker Ansible module dependencies"
Ansible `docker_container` module requires that either `docker` or `docker-py` python library is installed in order to work.

I think this would be a good thing to install these from this role as this is always required for use in dependent roles. Maybe through a variable to enable that ?

[2018-10-03 10:11] haxorof commented on #48
Thanks for the suggestion @ndusart. I have actually been thinking about this from time to time but has hesitated a bit because of incompatibilities in docker-py etc  and what to use to install it: pip or OS package manager. Want to have an easy config so users does not need to think too much. :smile:

Question: when you install Ansible do you use pip or OS pkg mgr? If you use pip, do you use virtu

[2018-10-03 13:17] ndusart commented on #48
I totally understand your concern.

I am not quite into python development and not very used with the pip package manager and all that stuff so I maybe overlooked the complexity of it for a broad compatibility.

I simply do this on my playbooks:

[code]

For your question about the installation of Ansible, I'm using a local clone of their git repository and use the `hacking/env_setup` script to de

[2018-10-03 17:21] haxorof commented on #48
As you say I see this as an opt-in feature to ease use of docker module in Ansible. Hopefully the packages are called the same in the different distributions this role supports and might be a good also to have a variable to say if pip shall be used or not because mixing pip and stuff from the apt/yum/dnf then you can get into trouble with dependency problems.

Hopefully I will take a deeper look i

[2018-10-06 17:43] haxorof opened #49 "Add support to install packages after install via PiP or OS package manager"
Make it possible to add packages after Docker has been installed and configured.

[2018-10-06 17:52] haxorof commented on #48
@ndusart I have now implemented that I hope is what you are looking for.

If you can please try it out on the master before I do a release if you can and if you got some feedback please let me know. 😄

These are the variables you can use to get dependencies:
[code]

Cheers!

[2018-10-06 17:52] #49 closed

[2018-10-06 21:12] haxorof opened #50 "auditd is installed even if docker_enable_audit set to false"
Task "Ensure auditd is installed" is always executed even if `docker_enable_audit` is set to false

[2018-10-06 22:50] #50 closed

[2018-10-07 00:52] haxorof opened #51 "Cannot use dm.directlvm_device in Debian 8"
Docker startup fails in Debian 8 when testing with `dm.directlvm_device`, see [test_config_storage.yml](https://github.com/haxorof/ansible-role-docker-ce/blob/79974323f51920d3ab8bc76b23558ba15eb7e4c2/tests/test_config_storage.yml).

Working workaround is available here: https://github.com/moby/moby/issues/21304#issuecomment-218057196

[2018-10-07 09:19] haxorof commented on #51
Seems the only possibility to get it to work is to do this manually and avoid `dm.directlvm_device`. So this role might build up exactly the same structure as done when `dm.directlvm_device` is defined for Debian 8 and just fail if it sees `dm.directlvm_device` because that does not work for sure.

[2018-10-07 09:51] haxorof commented on #48
Example to use it can be found here: https://github.com/haxorof/ansible-role-docker-ce/blob/master/tests/test_postinstall.yml

[2018-10-07 11:32] haxorof commented on #51
After some investigation it seems Docker setup something differently in Debian 9 so that it works, see lsblk output below:
[code]

This can be compared to other distributions also seen in Debian 8 where it does not work:
[code]

Note the `-tpool` is not there in Debian 9 which case problem Debian 8

[2018-10-07 13:16] haxorof commented on #51
Fix in this role is to try to compensate for the inconsistency and now modifies the configuration when it see the `dm.directlvm_device` and also create the LVM thinpools before Docker starts.

[2018-10-07 13:17] #51 closed

[2018-10-10 09:03] ndusart commented on #48
@haxorof sorry about the delay, I was quite busy these days. I just tested it with success in my playbooks ! :)
I could only test `docker_container` and `docker_image` commands so I cannot say for the others.

Maybe just document that `docker_container_deps` installs dependencies for `docker_image` as well ?
It could lead to confusion imho.

Thanks for the good work ! :+1:

[2018-10-10 09:13] haxorof commented on #48
Thanks @ndusart!
I will update the documentation so it will be more clear. Thank you again for testing the parts you need.

Will do a release today if I got time to update the documentation.

Cheers!

[2018-10-10 09:44] haxorof commented on #48
btw, would you @ndusart have some suggestion for better variable names for this? Was looking through the Ansible docs and maybe change to something like docker_core_deps and then document what modules it will cover.

Cheers!

[2018-10-14 11:11] haxorof opened #52 "Update repository cache fails on Fedora"
`dnf makecache fast` is incorrect and should be `dnf makecache`.

[code]

[2018-10-14 11:29] #52 closed

[2018-10-14 11:30] #48 closed

[2018-10-14 11:31] haxorof commented on #48
[code]

[2018-10-14 12:17] ndusart commented on #48
The new terms are good to me !

[2018-10-16 16:46] haxorof opened #53 "Add support to allow users to be added to the docker group"
Add variable where you can specify `docker_users` to be added to the docker group

[2018-10-21 09:27] haxorof opened #54 "Variable docker_enable_ce_edge will be removed because Docker no longer provide edge releases"
Read more about it here: https://docs.docker.com/edge/

Is replaced by nightly builds:
https://docs.docker.com/install/#nightly-builds

[2018-10-21 09:39] haxorof opened #55 "Add support to select different Docker repo channels"
See: https://docs.docker.com/install/#nightly-builds

[2018-10-24 03:06] simongreen-net commented on #53
Hi,

Are you working on this? I'm happy to do it if not, and submit a pull request this week with the change.

[2018-10-24 04:37] haxorof commented on #53
Hi @simongreen-net
Many thanks for offering your help but I have an implementation ready and working on one more thing but will push that today I hope. I need to do some additional tests but can push what I got before that. :smile:

Cheers!

[2018-10-24 05:11] #53 closed

[2018-10-24 05:13] haxorof commented on #53
@simongreen-net Pushed the changed and you can have a look at it if you fetch it on master. Will do some more fixing on another ticket before doing release.

Cheers!

[2018-10-24 05:18] #54 closed

[2018-10-25 16:47] stefangweichinger opened #56 "Fedora 29 (beta): issue with additional packages"
Thanks for the helpful role!

I understand that I use it on a beta (until next week or so?) of Fedora 29, but maybe the issue hits other installations as well:

when I apply the role I get:

[code]

(full paste to include all info ...)

I am using ansible provided by Fedora repo:

[code]

[2018-10-25 17:42] haxorof commented on #56
Hi @stefangweichinger,

I am happy that you like this role and I am sincerely grateful for that you report this even if now Fedora 29 is in beta. It can be that this exists in other distributions also or other version of Fedora which I have not yet automated tests for. The distributions I currently have automated tests on are the following:
- Centos 7
- Ubuntu 14.04
- Ubuntu 16.04
- Ubuntu 18.04
-

[2018-10-25 17:54] haxorof opened #57 "Add Fedora distributions to test suite"
Currently no Fedora versions are tested automatically via [test.sh](https://github.com/haxorof/ansible-role-docker-ce/blob/master/tests/test.sh) because there has been an issue to do reliable tests using VirtualBox 5.2.18. Now VirtualBox 5.2.20 is available which fix issues which now make the vbguest plugin to work again as expected.

Containers for different Fedora versions are available and shal

[2018-10-28 08:52] stefangweichinger commented on #56
quick first feedback:

* not exactly a clean setup: upgraded from Fedora 28, and I have a virtualenv for running specific versions of ansible and debops in some cases. Although this shouldn't mess up the upstream binaries afaik (ansible-galaxy comes from the fedora repos ... etc)

* see this:

[code]

this was run right after running/applying your role and getting this:

[code]

I am still unsure

[2018-10-28 08:58] haxorof opened #58 "Docker startup fails in Fedora 28 because it cannot find pvcreate"
During startup of the Docker daemon when devicemapper is used it fails because it cannot find pvcreate in the path. Reason is that in the Fedora 28 cloud image the lvm2 is not installed and therefore not pvcreate which is included there.

[2018-10-28 08:59] stefangweichinger commented on #56
OK, one more: I rm-ed my symbolic links to venv-binaries and started a new shell to make sure I use fedora's ansible(-playbook). And I tried to reapply the role to my localhost.

This gives me:

[code]

docker-envs exists ... I decided to rm it (it was fom august), rerun still fails.

[2018-10-28 09:14] stefangweichinger commented on #56
maybe I "solved" it for now, cleaned up a mixed setup: had older version of your role installed as root etc / stay tuned ;-)

[2018-10-28 10:43] haxorof commented on #56
Thanks @stefangweichinger for all the information you have given, much appreciated!

I was a bit afraid when I added `docker_sdk` and `docker_compose` that these type of problems would pop up. I think that there might be something related to getting the pip packages in and how it is run and if it is running using virtual environment etc. The way you installed docker compose using the "--user" flag

[2018-10-28 11:00] haxorof opened #59 "Fails to install VirtualBox guest additions on Fedora 29 beta"
[code]

[2018-10-28 18:04] stefangweichinger commented on #56
So where is the vagrant file? ;-)
The "--user" thing was a result from getting mixed up with pip missing some permissions etc and my try to get things done properly. AFAI understand my current setup does not use virtual env anymore, and has your role installed as non-root role (in ~/.ansible/roles).

[2018-10-29 14:15] stefangweichinger commented on #56
note: as F29 will be released tomorrow there seem to be some things going on. The docker-ce-repo at docker.com does not yet provide a docker-ce-package for F29, this leads to failing installation here etc

Additionally I see mismatches between systemd-service files from fedora and docker-ce.repo (path to docker-binary "docker" vs. "dockerd" etc).

tldr: we might have to wait a few days for things

[2018-10-29 14:28] haxorof commented on #56
@stefangweichinger many thanks for the update! As you suggest we can wait and I will make some updates in the tests to prepare for F29. Will let you know I have done that.

Cheers!

[2018-10-29 14:34] stefangweichinger commented on #56
@haxorof

see https://download.docker.com/linux/fedora/29/x86_64/ (nothing stable yet)
and https://github.com/docker/for-linux/issues/295

[2018-10-31 05:54] haxorof opened #60 "Replace currently used Vagrant boxes during testing with more official boxes"
Currently geerlingguy boxes are used but should be replaced with more official images.

https://app.vagrantup.com/fedora
https://app.vagrantup.com/debian
https://app.vagrantup.com/centos

[2018-10-31 05:57] haxorof opened #61 "LVM2 package is required to be installed when devicemapper is used (Fedora/Debian)"
When Docker is configured to use devicemapper it execute commands like pvcreate, pvs etc which is within the lvm2 package. This needs to be applied before Docker daemon startup for Fedora and Debian.

[2018-10-31 06:07] #57 closed

[2018-10-31 06:08] #61 closed

[2018-10-31 06:08] #60 closed

[2018-10-31 06:08] #59 closed

[2018-10-31 06:08] #58 closed

[2018-10-31 06:15] haxorof commented on #56
@stefangweichinger

Just an update from my side. Fedora has release a Vagrant box for 29 so I added that but Docker does not install yet because of missing `containerd.io` dependency which does not exists. How I tried this was to install the docker-ce-nightly for F29 via the nightly channel.

The tests I am executing etc you can find here: https://github.com/haxorof/ansible-role-docker-ce/tree/mas

[2018-10-31 18:15] stefangweichinger commented on #56
@haxorof : great news, thanks for the update etc / will look into that in the next days, tmrw holiday here, so I will spend some time offline ;-)

[2018-10-31 19:59] haxorof commented on #56
@stefangweichinger: that was interesting. I actually run with a machine that have lower specs than you. Tests just installs Docker with my role in different ways to verify config etc. When you run any Vagrantfile does it behave in the same way?

[2018-10-31 21:16] stefangweichinger commented on #56
@haxorof  I removed and reinstalled vagrant completely, I still get dozens of these processes:

[code]

So it seems related to this plugin install failing.
Getting late here, bye ...

[2018-10-31 21:45] haxorof commented on #56
Thanks @stefangweichinger! I will check if that plugin is unnecessary because now it is specified in a file which is executed when vagrant command is used in the tests directory.
https://raw.githubusercontent.com/haxorof/ansible-role-docker-ce/master/tests/.vagrantplugins

you could try to rename that file and just make sure the plugin `vagrant-vbguest` is installed at least to see if that works f

[2018-11-01 09:48] stefangweichinger commented on #56
@haxorof commenting the line "vagrant-share" out of that file helps to bring up the machine, it is downloading now. I hope the boxes are kept/cached on my machine after the initial download?
thanks so far.

[2018-11-02 07:19] haxorof commented on #56
Hi @stefangweichinger! Sorry for now answering you earlier but has been a bit busy. Thank you for trying running the tests but I think I need to go back an review what requirements there are to run the tests.

Also today I noticed other issues  similar to the pip related stuff you saw in F29 so I think I will have some time on Sunday to check all this.

In the meantime I think you can wait for me

[2018-11-02 09:07] stefangweichinger commented on #56
@haxorof ok, I see. No problem, so far I can use docker for my purposes. All the vagrant part is not necessary for me (although I would like to be able to use it, sure ... and learn from it). Looking forward to the next steps, Stefan

[2018-11-02 09:43] mhow2 opened #62 "docker-compose won't install"
when I set `docker_compose: true` , I get an error `ImportError: No module named setuptools`

Here is the output of the `pip2` command when I run it by hand on the host (debian 9):

[code]

[2018-11-03 08:32] haxorof opened #63 "Revisit install of docker-compose"
It seems to be problematic to use pip to install docker-compose and the best way is to implement it in a way as described in the official documentation: https://docs.docker.com/compose/install/#install-compose

There are different ways to install it and the "Alternative Install Option" is the way to do it.

[2018-11-03 08:34] haxorof commented on #63
This shall also address issues seen in #62 and maybe parts of #56

[2018-11-03 09:47] haxorof commented on #63
After a bit investigation it is not possible to get it right by just following the Docker installation. Ansible misses the compose module anyway.
[code]
Need to check if there is a kind of workaround to get this working on all distributions in a sane way.

[2018-11-03 10:00] haxorof commented on #63
From official documentation:

[2018-11-03 12:05] haxorof commented on #62
Also another question:
* How do you plan to use docker-compose? Using it via command-line and/or via Ansible using the module `docker_service`?

[2018-11-03 18:00] haxorof opened #64 "Add support for Debian 7 (Wheezy)"
Docker installation documentation say it supports Debian 7 Wheezy but the instructions are not complete to get it to run.  Reason is that kernel version in Wheezy is 3.2 and Docker require at least 3.10. Newer kernel versions can be installed using the backport repo.

[2018-11-03 20:44] haxorof commented on #64
Missing dependencies if not backport repo is added:
[code]

[2018-11-04 14:15] haxorof opened #65 "Audit rules.d directory does not exist in Debian 7"
[code]
https://manpages.debian.org/wheezy/auditd/auditd.8.en.html

Cannot use rules.d directory in Debian 7 so `/etc/audit/audit.rules` must be updated instead.

[2018-11-05 08:10] haxorof commented on #62
Thanks @mhow for answering my questions.

I have revisit the how installation is done with compose etc so on the master right now I created another config which is more for your use case where you want to run docker-compose from command-line.

can you try using the master of this role and instead of docker_compose you shall use docker_compose_no_pip. Possible for you to try this?

Cheers!

[2018-11-05 08:21] mhow2 commented on #62
Can you lead me to the file which tells what it's done underneath with `docker_compose_no_pip` ?
FYI I don't rely on debian's packaging for `docker-compose` anymore, their package is outdated and don't works well concurently with docker.io's own package. Usually, I'm using the "official" `sudo curl -L "https://github.com/docker/compose/releases/download/1.22.0/docker-compose-$(uname -s)-$(uname -m

[2018-11-05 08:29] haxorof commented on #62
Sure. When you use that new variable then it follow the official way and you find it in the bottom of this file: https://github.com/haxorof/ansible-role-docker-ce/blob/master/tasks/postinstall.yml

[2018-11-05 08:43] mhow2 commented on #62
Thanks ! The new variable/method seems to work like a charm, at least on my system :) Cheers

[2018-11-05 08:45] haxorof commented on #62
That's great news! Many thanks for testing it.

[2018-11-05 13:20] mhow commented on #62
This ended up in the wrong mail box - you meant to send it to mhow2

On Mon, 5 Nov 2018 at 03:10 Björn Oscarsson <notifications@github.com>
wrote:

[2018-11-05 19:58] haxorof commented on #56
After some changes I now have a test suite that passes for Fedora version 25, 26, 27 and 28. For Fedora 29 I cannot see it is possible to install Docker yet from the nightly build because of missing dependencies.

Will wait a bit until Docker have some working nightly build.

[2018-11-05 20:33] #64 closed

[2018-11-05 20:33] #62 closed

[2018-11-05 20:34] #63 closed

[2018-11-28 06:10] haxorof opened #67 "Ansible-lint with Ansible Galaxy rules report problems"
Ansible-lint with Ansible Galaxy rules report problems which needs to be fixed.

Test with container to verify: https://hub.docker.com/r/haxorof/ansible-lint/

[2018-11-28 06:16] #67 closed

[2018-11-29 18:05] cojack opened #68 "docker_compose_no_pip only works in Ansible 2.7 or later"
Hi,
I have encounter a problem with installation of docker-compose without pip:

[code]

Any advice?

[code]

[2018-11-30 06:08] haxorof commented on #68
Hi,
Thanks for reporting this. Is it possible for you to run ansible-playbook with added argument -vvv and just paste the output for the failing task?

Cheers!

[2018-11-30 07:44] haxorof opened #69 "Devicemapper regression tests fail with Docker 18.09"
It seems devicemapper has been removed in favor of overlay2.

https://github.com/docker/for-linux/issues/452

[2018-11-30 20:03] haxorof commented on #68
Hi again @cojack!
In addition to what information I would like to receive from you, could you also provide which Linux distribution you are using and version. That will help me to see if there is a general problem related to that distribution and version.

Thanks!

[2018-12-01 17:30] haxorof commented on #56
Just would like to inform you that it is now possible to successfully install Docker on Fedora 29 from the nightly Docker channel.

Exampel that works on Fedora 29 cloud image:
[code]

Cheers!

[2018-12-03 09:37] haxorof commented on #69
Quick fix is that the devicemapper tests now excludes the following distributions: ubuntu,debian,fedora/29

[2018-12-03 09:41] haxorof commented on #30
I will close this issue because this will not be implemented. Reason is that now Docker edge channel is deprecated and it has become a bit more complicated because docker seems to split up packages also to some cli package etc.

[2018-12-03 09:41] #30 closed

[2018-12-03 11:29] haxorof commented on #56
I have run through the following test on Fedora 29 cloud image and it work.

[code]

@stefangweichinger  Shall I close this issue?

[2018-12-03 12:18] haxorof commented on #68
Regression tests has passed for all the distributions this role support but I found a bug which cause docker compose to be installed with pip even when `docker_compose_no_pip` has been set to `true`. This I will fix today.

[2018-12-08 18:02] stefangweichinger commented on #56
ok with me, as you like. Thanks for your tests, etc

Sidenote: pls note the test-dir, it's new ;-) -> https://download.docker.com/linux/fedora/29/x86_64/test/Packages/

So they seem to prepare something.

[2018-12-08 18:57] #56 closed

[2018-12-10 06:18] haxorof commented on #68
Reopen this issue if you still have the same problem with the newest version of this role.

Cheers!

[2018-12-10 13:07] haxorof commented on #68
There is a bug in the role where I by mistake use a format in get_url module which only is available in Ansible 2.7 or later.

[2018-12-10 17:34] haxorof opened #70 "Pip not installed before use of pip module"
[code]

[2018-12-10 19:23] #68 closed

[2018-12-11 05:20] #70 closed

[2018-12-11 05:21] haxorof opened #71 "python-pip is always installed"
When fixing #70 the check for pip does that python-pip is always installed which is not correct. Shall only be done when it is required.

[2018-12-11 05:39] #71 closed

[2018-12-19 06:34] haxorof opened #72 "Improve use of --check"
There are improvements to do when running a playbook using this role with `--check` argument.

[2018-12-19 06:36] haxorof opened #73 "Add more advanced options to control PiP package installation"
It seems to be necessary in some cases to manipulate a bit with the configuration when pip module is used. Add some extra default which can be overridden for those who needs it.

[2018-12-28 06:39] haxorof opened #74 "Non-systemd environment variables are not correctly set since version 1.11.0 of this role"
After some cleanups due to Ansible-lint report the non-systemd include was incorrectly "fixed" causing it to not be included when systemd is not present in the system.

https://github.com/haxorof/ansible-role-docker-ce/blob/1.11.0/tasks/main.yml#L72

[2018-12-28 07:10] haxorof opened #75 "Some variables lives on between plays which cause unexpected behavior"
Variable defined in the role under 'vars' lives on between plays. This cause a problem with some that are changed during execution. These must be resetted with `set_facts` to get expected behavior.

Some related information:
https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.7.html#include-role-and-import-role-variable-exposure

[2018-12-28 07:56] haxorof opened #76 "Docker 18.09 fails to create containers when MountFlags=slave is set"
### Expected behavior

[code]

### Actual behavior

[code]

### Steps to reproduce the behavior

[code]

**Output of `cat /etc/docker/daemon.json`:**

[code]

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Output of `journalctl -u docker -n 50 -l --no-pager`:**
[code]

**Additional environment details (AWS, VirtualBox, physical, etc.)**

Tested this using VirtualB

[2018-12-28 08:26] haxorof opened #77 "docker-compose does not work with sudo"
Seems that it differs in some distributions what path is being set when using sudo. On a CentOS it is clearly different paths when entering a shell using the two different ways seen below:
[code]

According to Docker documentation (https://docs.docker.com/compose/install/#install-compose) the compose shall be located under `/usr/local/bin` but in CentOS installation that will not work if `sudo` is

[2018-12-28 08:36] haxorof commented on #33
Closing this issue because now it seems MountFlags cause problems in CentOS when running Docker 18.09 (#76). Going to set this role NOT to apply the MountFlags option by default.

[2018-12-28 08:36] #33 closed

[2018-12-28 08:38] #74 closed

[2018-12-28 08:38] #76 closed

[2018-12-28 08:38] #77 closed

[2018-12-28 08:38] #75 closed

[2019-01-03 16:18] #72 closed

[2019-01-03 22:03] #73 closed

[2019-01-06 11:48] haxorof opened #78 "Initial support for installation of Docker plugins"
Docker plugins can extend parts in Docker like authorization and logging etc. Docker daemon won't start if for example a authorization plugin is configured.

Need some kind of best effort support for adding plugins.

[2019-01-31 21:39] haxorof opened #79 "Changing Docker repository channel does not work"
Seems that changing channel to nightly does not work as expected and the Docker CE version is still from stable channel.

[2019-02-01 06:18] #79 closed

[2019-02-02 11:43] haxorof opened #80 "Deprecation of variable docker_remove_pre_ce"
It is now passed some time since Docker changed their versioning and the need to remove Docker 1.13 or earlier is not necessary today.

[2019-02-02 21:14] haxorof opened #81 "Separate CLI package in Docker CE 18.09 cause problem when switching between repo channels and downgrading"
### Ansible Version

[code]

### Role Version

[code]

### Role configuration

Switching `docker_channel` from `nightly` to `stable`

### Expected Behavior

`docker version` should show same version for both client and server.

### Actual Behavior

[code]

### Steps to Reproduce

[code]

### References

[2019-02-02 21:22] haxorof opened #82 "Support removal of Docker CE packages and related configuration"
### Role Version

[code]

### Proposal

Support removal of Docker CE packages and related configuration. This can be done to add some variable like `docker_remove` which can be set to true to make the role to remove the Docker CE packages and configuration files that was added etc.

[2019-02-02 21:43] #82 closed

[2019-02-02 21:54] haxorof opened #83 "Remove handling of deprecated variable docker_enable_ce_edge"
https://github.com/haxorof/ansible-role-docker-ce/blob/e16e8fe9b01f0bccd3b47cd229c9739f104a2a0c/tasks/main.yml#L72-L78

Deprecation notice in version 1.9.0

[2019-02-02 22:02] haxorof opened #84 "Remove handling of deprecated variable docker_remove_pre_ce"
Remove handling of variable docker_remove_pre_ce

Deprecation notice in version 2.x

[2019-02-02 22:03] #80 closed

[2019-02-03 13:33] haxorof opened #85 "Remove handling of deprecated variable docker_pkg_name"
Because Docker now separated the cli into a separate package since 18.09 the `docker_pkg_name` cannot handle this and is replaced by `docker_version` which handle it in a bit smarter way.

https://github.com/haxorof/ansible-role-docker-ce/blob/31db975782345f7d679e1d8ddea1c0769d6f9d36/tests/test_old_version.yml#L7-L11
https://github.com/haxorof/ansible-role-docker-ce/blob/e16e8fe9b01f0bccd3b47cd229

[2019-02-03 13:35] haxorof opened #86 "Replace docker_pkg_name with docker_version"
Because Docker now separated the cli into a separate package since 18.09 the `docker_pkg_name` cannot handle this and is replaced by `docker_version` which handle it in a bit smarter way.

[2019-02-03 13:40] #86 closed

[2019-03-09 08:19] #40 closed

[2019-03-09 08:31] haxorof opened #87 "api.github.com limits on number of requests causes the request to fail"
Currently installation of docker-compose in this role uses the api.github.com to determine latest version. This API is limited to number of requests so in bigger environments that uses this the request limit might be reached and causes the request to fail.

### Ansible Version

[code]

### Role Version

[code]

### Role configuration

[code]

### Expected Behavior

Docker compose successfully down

[2019-03-10 15:09] haxorof opened #88 "APT repository setup fails on Debian Buster 10"
### Ansible Version

[code]

### Role Version

[code]

### Role configuration

[code]

### Expected Behavior

Docker CE successfully installed

### Actual Behavior

[code]

### Steps to Reproduce

[code]

### References

- https://github.com/ansible/ansible/issues/19874

[2019-03-11 07:47] #88 closed

[2019-05-02 19:11] sfuerte opened #90 "Enabling auditd does not work in RHEL installation"
Is there any reason why only Ubuntu and Debian are supported ?

haxorof.docker_ce/tasks/setup-audit.yml:

[code]

[2019-05-03 04:49] haxorof commented on #90
Thanks for reporting this @sfuerte!

This installation of auditd is only for Ubuntu and Debian because it was not installed by default. I have not bumped into any installation of CentOS/RHEL where it has not been installed by default. Have you ran this role on a CentOS/RHEL where you got an error when docker_enable_audit was true?

The support should be in the role already but it assumes auditd is

[2019-05-03 17:56] sfuerte commented on #90
missed that `docker_enable_audit` variable. It does install the required file but fails to restart the service on RHEL 7:
[code]

[2019-05-04 07:12] haxorof commented on #90
Thank for the information. I will take a look at this.

[2019-05-04 07:54] haxorof commented on #90
@sfuerte: After I ran this on a clean RHEL installation (see below) I would like to know some more information about your system to understand why it fails.
* Which Ansible version are you using? `ansible --version`
* Are you using the latest release of `haxorof.docker_ce`? Or which version?
* What exact RHEL release do you have? `cat /etc/redhat-release`
* Does `service auditd status` work in you

[2019-05-06 20:06] sfuerte commented on #90
@haxorof, here is the requested info:
[code]

Docker rules were added manually.

Let me know if anything else if needed.

[2019-05-07 19:57] sfuerte opened #91 "Ansible deprecation warning - squash_actions"
Getting a deprecation warning when running with `docker_compose` enabled:

[code]

**Environment**
[code]

[2019-05-09 01:23] sfuerte opened #92 "RHEL, role fails to remove "pre-docker-ce" packages"
A playbook is set to detect and remove old Docker packages:
[code]

A target system, i.e. Ansible client, has the following Docker packages installed:
[code]

When running the playbook, it fails to detect the old package and consecutively fails to install `docker-ce`:
[code]

**Environment**
[code]
Server OS version is the same on Ansible master and client.

[2019-05-10 06:40] haxorof commented on #91
Thanks for reporting the deprecation warning. I try to keep this role compatible with the lowest supported Ansible version which is 2.5 right now so I keep track on this page when they drop support. https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html#release-status

Cheers!

[2019-05-10 06:56] haxorof commented on #92
Could you run the following command on the machine you are targeting: `docker version | grep Version | awk '{print $2}'`

I think the mechanism I once added to avoid it to remove pre CE everytime might not work as expected. I will spin up a Redhat again next week to see if it works for me or not.

Just as a note, I am planning to remove this removal feature of pre Docker CE in next major release o

[2019-05-10 06:58] haxorof commented on #92
Sorry for my last comment about running the docker version command. Could you run the playbook with `-vvv` instead?

[2019-05-10 16:56] sfuerte commented on #92
Another debugging info, in `tasks/remove-pre-docker-ce.yml`, there is a definition:
[code]

that is set to False even though it should not:
[code]

[2019-05-10 17:19] sfuerte commented on #92
Changing code to the following fixes the issue:
[code]

The main reason - Ansible doesn't do proper "if" of "True and not False" or "True and True" and simply treats them as strings.

[2019-05-10 17:45] sfuerte commented on #92
Btw, another search shall be done to determine whether it's a community edition or not. It simply doesn't show suffix `-ce`:
[code]

[2019-05-10 18:04] sfuerte commented on #92
Also, when deleting old versions, the plugins shall be deleted also:
[code]

[2019-05-15 19:13] haxorof commented on #92
Thanks @sfuerte!
My plan was to remove this kind of removal feature because I never got any feedback on it of noticed someone using it until now. 😄 I will incorporate changes you suggest and noticed now when you wrote it that they have removed the "-ce" in the version, it was there in the first versions anyway.

Cheers!

[2019-05-19 16:42] haxorof commented on #90
@sfuerte : Could you try the following to see if both fails for you or one of them works (replace `target-host` with your host):
[code]

Unfortunately I cannot reproduce the problem you have with the restart of auditd.

[2019-05-20 04:38] haxorof commented on #92
Just want to let you know that I have done some fixes on master for this. I quickly tested it on RHEL 7 yesterday so would be great if you could test it too.

Cheers!

[2019-05-21 17:00] sfuerte commented on #92
@haxorof, thanks for the update and fix. Will try it whenever I have another instance with RHEL and older docker on it. The current ones are all have latest already and in use.

The only question is about this line
[code]
Are sure that it's correct? Gives an error:
[code]

As you per https://docs.docker.com/engine/reference/commandline/version/, believe you want to have
[code]

or even this `docke

[2019-05-21 17:13] haxorof commented on #92
@sfuerte Thanks! Let me know of the result when you get a hold of another instance with old docker on.

Regarding the strange syntax with curly brackets is a way to ensure that Ansible do not interpret the `{{` and `}}` so the end result will be as you write in the bottom. Here is some example where others had similar problems: https://stackoverflow.com/a/32283447/9506788

Cheers!

[2019-05-21 17:52] #92 closed

[2019-05-22 09:02] ndusart opened #93 "Failure on Fedora 30"
Hi,

This role does not work on F30 as python2-dnf has been removed from repositories.
This should be replaced by python3-dnf on this release.

[2019-05-22 09:05] ndusart commented on #93
https://github.com/haxorof/ansible-role-docker-ce/blob/bc3abe26f34c0c176f71ebbf6b62fd3d8b208c78/tasks/setup-repository-Fedora.yml#L4

Is it really necessary to make this check for `python2-dnf` ?
It seems that the `package` module is already doing this and since Ansible 2.8 the python interpreter version is autodetected.

[2019-05-22 09:14] haxorof commented on #93
Thanks for reporting this! I keep compatibility with the lowest supported version of Ansible and it is 2.6 right now. I will look into a fix for this hopefully end of this week.

Cheers!

[2019-05-22 21:30] sfuerte commented on #90
sorry missed the comment. Can't reproduce it now either. Both commands above work fine.

[2019-05-22 21:30] #90 closed

[2019-05-25 14:04] haxorof commented on #93
Just tried to install Docker CE on a Fedora 30 but it seems that container.io library dependency does not exist so it fails in both test and nightly channel. I will continue to work on better support for Python 3 in general in this role.

[2019-05-28 16:17] sfuerte opened #94 "Many deprecation warnings in Ansible 2.8"
### Ansible Version
[code]

### Role Version
Github Master (https://github.com/haxorof/ansible-role-docker-ce/commit/1a4b96cd55ba8ebac299acedde6d1ef70cf8305d)

### Actual Behavior
[code]

[2019-05-28 16:43] haxorof commented on #94
Thanks! Will see if I can address those warnings and still keep compatibility with Ansible 2.6

[2019-05-29 18:30] haxorof opened #95 "Improve handling of Python 3"
### Ansible Version

[code]

### Role Version

[code]

### Actual Behavior

When Python 3 is used as Ansible Python interpreter then there are things in the role where it does not consider Python 3. This then causes the role to fail.

### New/Changed Behavior

Role shall be able to handle both Python 2 and 3 and must select packages etc accordingly. Must also keep Ansible version compatibility.

#

[2019-05-30 13:24] #94 closed

[2019-05-30 13:24] #95 closed

[2019-05-30 13:25] haxorof commented on #87
Added new configuration options to fix this:
[code]

[2019-05-30 13:25] #87 closed

[2019-05-30 13:36] haxorof commented on #65
Due to different issues to keep compatibility with Debian 7 Wheezy this will not be addressed for that release.

[2019-05-30 13:36] #65 closed

[2019-05-30 14:50] sfuerte commented on #94
Thanks for fixing it quickly. I guess this one got missed:
[code]

[2019-05-30 14:58] haxorof commented on #94
aha, will fix

[2019-05-30 15:01] sfuerte opened #96 "RHEL: handling repos NOT via subscription-manager"
Hi,

Is it possible to implement handling repos in RHEL **NOT** via `subscription-manager`? Either by default, or have it configurable? Or if it's not available then do it via `yum-config-manager`?

A case: an organization has its own copy of repos and points/proxies all requests to it. So there is no active subscriptions on internal VMs, especially those for dev and test purposes:
[code]

As a re

[2019-05-30 15:18] haxorof commented on #94
@sfuerte Fixed! I think I will release a new version sometime next week when I done some more tests.

Cheers!

[2019-05-30 16:27] haxorof commented on #96
Thanks @sfuerte! I will have a look at this.

[2019-05-30 17:59] haxorof commented on #96
I have created a default configuration (`docker_rhel_repos`) that you now can override. The configuration that you would require is the following:
[code]
Please try it out and tell me if it works for you or not.

Cheers!

[2019-06-02 13:01] haxorof opened #97 "Install of Docker SDK fails on RHEL"
### Ansible Version
[code]

### Role Version
[code]

### Role configuration
[code]

### Expected Behavior

Successful installation of Docker SDK and Ansible modules can be used related to Docker

### Actual Behavior

[code]

This fails because PiP is available in `rhel-server-rhscl-7-rpms` which is not enabled but this still does not resolve it because `scl` needs to activate the python environmen

[2019-06-02 13:26] #97 closed

[2019-06-05 05:37] haxorof commented on #96
Please reopen if the mechanism provided is not enough.

Cheers!

[2019-06-05 05:37] #96 closed

[2019-06-05 17:32] haxorof opened #98 "RHEL: subscription-manager uses network when docker_network_access is set to false"
### Ansible Version

[code]

### Role Version

[code]

### Role configuration

[code]

### Expected Behavior

Outbound network connectivity shall not be necessary when run the second time on RHEL.

### Actual Behavior

subscription-manager was called which requires network connectivity and the role failed the second time.

### Steps to Reproduce

See config above but for second run outbound networ

[2019-06-06 14:03] #98 closed

[2019-06-12 15:13] haxorof commented on #93
Have I understood you correctly that you tested to install on Fedora 30 with python 3 and version 2.4.1 of this role and it worked? Has Docker released a version which works on Fedora 30?

[2019-06-12 15:55] ndusart commented on #93
Actually, I didn't try to install Docker. It worked on a system with docker already installed from a previous version of Fedora.

I can try with a complete new installation when I get the time to.

[2019-06-19 12:58] haxorof opened #99 "Install of authz plugins does not update daemon config"
### Ansible Version

[code]

### Role Version

[code]

### Role configuration
https://github.com/haxorof/ansible-role-docker-ce/blob/master/tests/experimental/cis/test_cis.yml

### Expected Behavior

Authz plugin installed and configured

### Actual Behavior

No Docker daemon configuration with authz

### Steps to Reproduce

See role config.

### References

[2019-06-19 13:26] #99 closed

[2019-06-19 14:17] haxorof opened #100 "Migrating from with_X to loop"
It is recommended to use loop instead of with_X since Ansible 2.5:
https://docs.ansible.com/ansible/2.6/user_guide/playbooks_loops.html#migrating-from-with-x-to-loop

[2019-07-08 18:41] haxorof commented on #93
Waiting for issue to be closed: https://github.com/docker/for-linux/issues/600

[2019-07-08 19:09] haxorof commented on #93
Docker CE for Fedora 30 available when selecting nightly channel at least

[2019-07-08 19:13] #100 closed

[2019-07-08 19:14] #93 closed

[2019-07-15 22:05] haxorof opened #102 "Docker compose fails on Debian 10 (Buster)"
### Ansible Version

[code]

### Role Version

[code]

### Role configuration

https://github.com/haxorof/ansible-role-docker-ce/blob/f3c81d09c0c321256db259c574f7bfcd33681c9e/tests/test_postinstall.yml

### Expected Behavior

Test expected to pass

### Actual Behavior

Test failed

### Steps to Reproduce

[code]

### References

- https://github.com/docker/docker-py/issues/1502

[2019-07-15 22:22] haxorof opened #103 "Major version comparison fails for some tasks due to non-numeric value"
### Ansible Version

[code]

### Role Version

[code]

### Steps to Reproduce

[code]

### References

[2019-07-15 22:52] #102 closed

[2019-07-15 22:52] #103 closed

[2019-07-23 21:15] haxorof opened #104 "Ubuntu 17.10 Artful is not handled correctly"
### Ansible Version

[code]

### Role Version

[code]

### Expected Behavior

Most test suites should succeed.

### Actual Behavior

Most test suites fail because package `docker-ce-cli` is not found which was introduced in Docker CE 18.09

### Steps to Reproduce

Run automate for Ubuntu 17.10
[code]

[2019-07-24 17:59] jamiejackson opened #105 "the following directives don't match any configuration option: disable-legacy-registry"
Centos 7.

I'm getting this new-seeming problem in my local development environment and haven't started digging quite yet.

# Docker Version

Installed Packages

- Name        : docker-ce
- Arch        : x86_64
- Epoch       : 3
- Version     : 19.03.0
- Release     : 3.el7
- Size        : 104 M
- Repo        : installed
- From repo   : docker-ce-stable
- Summary     : The open-source application

[2019-07-24 18:01] jamiejackson commented on #105
Okay, I must not have pinned the docker version locally. My servers are running:

Available Packages

- Name        : docker-ce
- Arch        : x86_64
- Epoch       : 3
- Version     : 18.09.7
- Release     : 3.el7
- Size        : 19 M
- Repo        : docker-ce-stable/x86_64
- Summary     : The open-source application

So `disable-legacy-registry` is probably just deprecated.

[2019-07-24 18:03] jamiejackson commented on #105
Confirmed: https://docs.docker.com/engine/deprecated/#--disable-legacy-registry-override-daemon-option

[2019-07-24 18:10] jamiejackson commented on #105
Hmm, well, maybe this fits with some of your other, deprecated-variable, tickets.

[2019-07-24 18:15] jamiejackson opened #106 "Docker Version Variable Confusion (docker_latest_version & docker_version)"
What's the intended relationship between `docker_latest_version` and `docker_version`?

Is one supposed to trump the other?

[Version variables](https://github.com/haxorof/ansible-role-docker-ce/blob/f0a45b0db41256bef05f1487a7b5a2a37d6afe65/defaults/main.yml#L9-L16):
[code]

[2019-07-24 18:15] haxorof commented on #105
I was a bit funny that you wrote this just a few minutes ago because I just started to look into why the automated tests started to fail now when I ran through everything on Docker CE 19.03. 😄  It seems that the Docker documentation does not really match when they actually removed it. Last time I ran all the tests was on 18.09 and then everything related to `disable-legacy-registry` went fine and

[2019-07-24 18:31] haxorof commented on #106
@jamiejackson I can confess that it became not that self explanatory. 😄 The relation between these variables are as follows:
* If `docker_version` is set to a non-empty value (e.g. `18.06.1.ce-3.el7`) then that is used.
* If `docker_version` is empty (default) and `docker_latest_version` is set to `true` (default) then latest version will be installed
* If `docker_version` is empty (default) and `

[2019-07-24 18:43] jamiejackson commented on #106
That's helpful, thanks.

As I mentioned in #105, I had been running my local environment without any docker versioning information, so the role had installed v19. Now that I want to downgrade, I'm running into trouble

[code]
Available versions: https://gist.github.com/jamiejackson/07b5bd0a948cc8a0ecb18bb8fa9047ea

I keep seeming to end up with v19 even if I `sudo yum remove docker-ce`, then re-ru

[2019-07-24 18:44] jamiejackson commented on #106
Whoops, obvious mistake, in that I specified 19 in the yaml. Sorry, working too fast. Going to try again.

[2019-07-24 19:20] jamiejackson commented on #106
Okay, still having some issues:

# Starting state:

* Role: 2.1.1
* Docker version vars in role: None specified
* Resulted in: Docker v19

# Changes

* Role: 2.5.1
* Config (note available versions [here](https://gist.github.com/jamiejackson/07b5bd0a948cc8a0ecb18bb8fa9047ea)).
[code]
* Resulted in
[code]

Take away from the above: We may want to explain which nugget out of the actual package name

[2019-07-24 19:23] haxorof commented on #106
Can you try this:
[code]

[2019-07-24 19:28] jamiejackson commented on #106
@haxorof , that's the value I tried under the "Then I tried" heading, which still resulted in docker version `19.03.0` existing on the host.

[2019-07-24 19:28] haxorof commented on #106
hmm.. can you run with `ansible-playbook -v ....` and just give me the output for task `haxorof.docker_ce : Ensure Docker CE is installed`?

[2019-07-24 19:29] haxorof commented on #106
@jamiejackson As soon as the test suite I am currently running is finished I could do a specific test just to see if I get the same result. Is it latest CentOS version you are running?

[2019-07-24 19:31] jamiejackson commented on #106
It's running "CentOS Linux release 7.6.1810 (Core)".

[2019-07-24 19:37] jamiejackson commented on #106
[code]
Oh, this is interesting. I'd been looking at `docker --version` for the last few tests, but maybe that' was the wrong thing to look at. Or maybe there's a mismatch:

[code]

[2019-07-24 19:41] haxorof commented on #106
@jamiejackson Aha, what does it say when you run `docker version`. Then is shall print both the engine and client version.

[2019-07-24 19:43] jamiejackson commented on #106
Okay, for what it's worth, I ran `yum remove docker-ce-cli`, then re-ran the playbook and got:

[code]

And now I seem to be in sync:

[code]

So maybe the playbook doesn't necessarily keep the cli and the daemon in sync.

[2019-07-24 19:46] haxorof commented on #106
Thanks @jamiejackson ! I think I start to see this might be related to a bug in the role which I bumped into when switching between channels (#81).

[2019-07-24 19:48] haxorof commented on #106
I think I need to do a test case for this to capture this "downgrade" scenario. 😄

[2019-07-24 20:05] haxorof commented on #106
Just did a downgrade test and it failed when it try to verify the version. Is not related only to the `docker-ce-cli` and think that you got a mismatch because you manually removed the `docker-ce` package some time along the way.

Anyway, the test clearly failed:
[code]

I think this is the same issue I got when I was switching between test and stable channel.

Thanks you for all input on this etc

[2019-07-24 20:13] haxorof commented on #81
Might not be that simple to do with Ansible. Searching a bit just on APT and yum there are special ways to handle downgrade, e.g `yum downgrade docker-ce docker-ce-cli 18.09.8-3.el7`.

[2019-07-24 20:15] haxorof commented on #106
Seems it is not that trivial to handle downgrades. Wrote a comment in the #81 ticket also.
[code]

[2019-07-24 20:31] haxorof opened #107 "19.03 fails on Fedora 28 - write /proc/self/attr/keycreate: permission denied"
When running `t_config` test suite (https://github.com/haxorof/ansible-role-docker-ce/blob/8255cc23d4b1950bb710d592b56bd2547fb29da3/tests/test_config.yml) on `fedora/28-cloud-base` the `hello-world` container fails to run.

Failing task below:
[code]

More investigation what causing the problem is needed but an issue that might be worth looking into for ideas is: https://github.com/moby/moby/issue

[2019-07-26 16:12] haxorof opened #108 "Error in apt_repository on Ubuntu 19.04 (Disco Dingo)"
Ansible version: `2.6.18`
Role version: `2.5.1`
Exception is thrown when running tests `t_config` test suite on `generic/ubuntu1904`:
[code]

[2019-07-26 16:17] haxorof commented on #107
Enabling selinux in Docker and restarting the daemon everything starts to work:
[code]

[2019-07-26 16:21] haxorof commented on #107
SELinux is enabled which can be seen here:
[code]

During automated test done by this role SELinux can be disabled temporarily:
[code]

Output of sestatus after change:
[code]

[2019-07-26 22:44] #104 closed

[2019-07-26 22:44] #108 closed

[2019-07-26 22:44] #107 closed

[2019-07-26 22:45] #105 closed

[2019-07-26 22:50] haxorof commented on #106
Added additional explaination for docker_version in defaults.

[2019-07-26 22:50] #106 closed

[2019-08-08 18:03] haxorof opened #109 "Add support to disable setup of apt/dnf/apt repos"
### Version Information

Role: `2.5.2`

### Proposal

Possibility to completely disable setup of apt/dnf/yum repos.

[2019-08-08 18:05] #109 closed

[2019-10-17 20:43] haxorof opened #110 "Docker CE package fails to install on CentOS 8"
### Version Information

Ansible: `2.8.6`

Role: `2.6.1`

### Steps to Reproduce

Simplest possible, just using the role as is.

### Expected Behavior

Install and configuration succeeded.

### Actual Behavior

Failed during install of `docker-ce` package due to dependency issues.

### References

[2019-10-17 20:44] haxorof commented on #110
Workaround found here:
https://linuxconfig.org/how-to-install-docker-in-rhel-8

[2019-10-17 20:46] haxorof commented on #110
Tried to install using Ansible `2.6.19` but the bumps into other issues as well.

[2019-10-17 20:48] #110 closed

[2019-12-30 15:38] sgautrin opened #111 "Usage of `tags: ["always"]` messes up with using tags in playbook"
* Ansible: `2.9.1`
* Role: `2.6.2 (commit 55c7487)`

### Steps to Reproduce

1. create a simple playbook using two roles each with their tag, e.g.

[code]

1. try to run the playbook activating only the tag for the second role, e.g. `ansible-playbook -t do_other_role test_play.yml`

### Expected Behavior

The role `haxorof.docker_ce` should be completely skipped.

### Actual Behavior

1. The tasks

[2020-01-01 10:02] haxorof commented on #111
Thanks for reporting this. Will have a look at it.

Happy New Year!

[2020-01-01 14:45] haxorof commented on #111
@sgautrin I did a quick fix on the master and removed the always tag. Just tested quickly to list which tasks which was executed but not run it. Please let me know if this fix work for you.

Note! I added tags as you suggested but will not remove the existing that which are replaced because it might break for people using those tags. Will write a deprecation notice and remove them later release.

[2020-01-02 14:59] sgautrin commented on #111
It does, thank you.

[2020-01-02 14:59] #111 closed

[2020-02-16 07:10] haxorof opened #112 "Missing dependency zipp for installed docker-compose using PiP"
### Version Information
Ansible: `2.8.8`
Role: `2.6.2`

Seen on CentOS 7

### Steps to Reproduce
Run `tests/test_postinstall.yml`

### Expected Behavior
When test is done using `docker_service` module it runs hello-world successfully.

### Actual Behavior
Failed due to missing dependecy:
[code]

[2020-02-16 07:23] haxorof commented on #112
Workaround is to ensure pip is upgraded.

[2020-03-09 01:29] StormRat commented on #107
hi，with this docker Parameter， can fix “ write /proc/self/attr/keycreate: permission denied
”
But,I get a new error：

[root@localhost Euler_compile_env]# docker run -it --rm --entrypoint "/bin/bash" 8975d655b0bf
standard_init_linux.go:211: exec user process caused "permission denied"

[2020-03-13 09:34] mhow2 opened #113 "prevent role to install unattended-upgrades package"
### Version Information

Ansible: `2.9.6`

Role: `ansible-role-docker-ce`

### Steps to Reproduce

On Debian Stretch
regular usage just by including the role...

### Expected Behavior
Not to install `unattended-upgrades` package. We don't want an existing system to suddenly get some package to be automatically installed because we have installed docker via the role.

### Actual Behavior
 leads to

[2020-03-13 17:24] haxorof commented on #113
Thanks for reporting this. Will have a look at that and what can be done.

[2020-03-14 10:02] haxorof commented on #113
@mhow2 Which Debian version are you running this on? I checked in Debian 10 and even if `unattented-upgrades` is installed it is still not activated in APT configuration by default what I can see. So it should not cause any unexpected updates to your system even if the package is installed.
Do you see your apt configuration that unattented upgrades is activated?

Documentation: https://wiki.debian

[2020-03-15 14:59] haxorof opened #114 "Update default docker-compose version to 1.25.4"
Just update the default value in defaults/main.yml

[2020-03-15 15:03] haxorof opened #115 "Improve/Refactor handling related to postinstall steps and PiP"
To get python based Docker libraries to work over several version and distribution requires some fiddling around with PiP and OS packages etc. This logic is a bit complex and some refactoring is necessary etc.

[2020-03-15 15:12] #114 closed

[2020-03-15 15:12] #115 closed

[2020-03-16 08:04] mhow2 commented on #113
Hi!
It's on debian stretch, as reported.
When the package is installed, It creates `/etc/apt/apt.conf.d/20auto-upgrades` which enables the auto upgrades (as far as I understand, by reading the documentation)

$ cat /etc/apt/apt.conf.d/20auto-upgrades
APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "1";

and /etc/apt/apt.conf.d/50unattended-upgrades enables upgrade for `D

[2020-03-16 20:25] haxorof commented on #113
Hi,
Sorry missed that you wrote which Debian version you use. I went back and tested on both Debian 9 and 10. The difference there is that in Debian 9 the `20auto-upgrades` is added but it is not in Debian 10.

I cannot really remove the installation package `software-properties-common` but maybe add a configuration parameter to ensure that file `/etc/apt/apt.conf.d/20auto-upgrades` is not present

[2020-03-16 20:37] haxorof commented on #107
@StormRat Fedora 28 is End-of-Life since 2019-05-28 and because of that I do no test on that version anymore. I do not know the reason for permission denied in your case but Docker works as expected on Fedora 30 and 31.

[2020-03-17 07:10] haxorof opened #116 "Docker run throws error on Fedora 31"
When using Vagrant box "generic/fedora31" Docker will install correctly but when running "hello-world" it throws and error saying:
[code]
To fix this changes to GRUB is necessary and the following parameter is required:
[code]

[2020-03-17 07:12] haxorof commented on #116
Fixes in
https://github.com/haxorof/ansible-role-docker-ce/blob/master/tests/grub_changes.yml

[2020-03-17 07:13] #116 closed

[2020-06-24 22:49] guofengzh opened #118 "Hung at checking if docker-ce-cli is installed"
ansible: 2.9.10
target OS: CentOS Linux release 7.8.2003 (Core), a fresh OS installation without any docker preinstalled.
ansible control machine OS: CentOS Linux release 8.2.2004 (Core)

I use the lastest master of the project. Ansible hung at the task "Ensure Docker CE is installed" (install-docker.yml) (I wait for about half an hour, but the task still running and not finished)

Removing "docke

[2020-06-25 18:30] haxorof commented on #118
Thanks for reporting this @guofengzh.

I have been using this role (latest version) also on new CentOS installations this week and have not experienced this issue but then used Ansible 2.9.8. I think I will manage to run a regressiontest on CentOS this week with latest Ansible 2.9.10 and check the result.

Also I checked the Docker documentation (https://docs.docker.com/engine/install/centos/) if

[2020-06-25 23:45] guofengzh commented on #118
The docker worked well on the target machine.

By what you described above, I log in to the taget macihine and I run the following command for providing more information.

First check what has been installed:
[code]
Note: I do not install docker-ce-cli manually, that is, docker-ce-cli should be installed by the ansible role.

Now run the yum install:
[code]

[2020-06-26 16:54] haxorof commented on #118
I have run tests recreating similar target machine like you have:
[code]
The control node I have is a CentOS 7 with Ansible 2.9.10.

This setup above I have recreated from scratch several times and does not see any issues.

Might have been some glitch when you ran and yum did not manage to fetch the package. Is it possible that you can reproduce this exact problem and send me the ansible output on

[2020-06-27 23:47] guofengzh commented on #118
I test an installer on that target machine, after finished it, I will let our IT guy re-install that machine and make a try again, then  I will response here what  will happen.

[2020-06-28 06:14] haxorof commented on #118
Thanks @guofengzh !

[2020-06-30 01:40] guofengzh commented on #118
You're right, using the same OS version on the control machine and the target machines have no such issue occurred. I close this issue.

Thanks for your help.

[2020-06-30 01:40] #118 closed

[2020-07-01 06:01] haxorof commented on #112
Verified that this problem exists with pip 8.1.2. If you upgrade to at least pip 9.0.3 then it resolves the issue.

[2020-07-03 18:30] #112 closed

[2020-07-19 16:53] dbolotin opened #119 "No package matching '' is available"
### Version Information

Ansible: 2.9.10

Role: 2.6.5 **(downgrading to 2.6.4 resolved the issue)**

OS: Ubuntu 20.04

### Steps to Reproduce
[code]

### Expected Behavior

Installs Docker CE

### Actual Behavior
[code]

[2020-07-19 17:03] haxorof commented on #119
Thanks for reporting this! Will look into this, might have introduced a bug when I did some refactoring.

[2020-07-19 18:28] haxorof commented on #119
Manage to reproduce the error you got and got a fix for it. Did not test scenario where pip is already installed and missed this bug that I introduced. Will release a new version within the hour.

[2020-07-19 18:59] #119 closed

[2020-07-19 19:17] dbolotin commented on #119
Thank you! Confirm that issue is fixed in 2.6.6.

[2020-07-20 09:45] haxorof opened #120 "Add missing audit rules which are defined in CIS Docker Benchmark 1.2.0"
There are two audit rules missing compared to CIS Docker Benchmark 1.2.0. These are:
[code]
Reason is that when implemented CIS Docker Benchmark 1.1.0 was only available.

[2020-07-20 10:05] #120 closed

[2020-08-03 17:22] haxorof opened #121 "No module named shutil_get_terminal_size"
Running postinstall tests on Debian 10 ("Buster") fails with the following errors when it tries to use docker-compose (pyhon based). Seems to be related to Python 2

[code]

[2020-08-03 18:11] haxorof commented on #121
Seems backport is install but needs to be copied to different location for it to work as done for `ssl_match_hostname`.
[code]

[2020-08-09 17:45] #121 closed

[2020-09-23 10:02] zhaocheng173 opened #122 "Are best practices for deploying this block documented？"
I have a few questions to ask about deployment

1. Do we need to install Ansible separately
2. How to deploy CENtos Docker-CE? Do I need to network and which roles do I need to refer to
3. Whether the practice of Docker-CIS has been integrated into the deployment, or whether it needs to be implemented separately
4. Do you want to deploy offline? Or do you need to pull yum from the network
5. Is th

[2020-09-23 17:55] haxorof commented on #122
Hi @zhaocheng173!

To start with I do not know how you plan to use this role if it is for local setup on a single host or install it out on several hosts. So my answers here is more based on deployment scenario where you want to install Docker CE on several hosts. This role requires network connectivity since it will use package managers etc to download required packages to the hosts.

1. Yes, you

[2020-09-30 07:25] #122 closed

[2020-10-06 13:45] janorn opened #123 "RHEL8 install fails due to missing docker-ce-edge repository"
### Version Information
Ansible: `2.9.9`

Role: `2.7.0`

### Steps to Reproduce
Fresh install of RHEL8 running a simple play that includes this role with default vars.

### Expected Behavior
Succesful install

### Actual Behavior
Failed at this task: Disable Docker CE repository channels (Fedor/CentOS/RedHat)

[code]

### References
-

[2020-10-06 13:46] janorn commented on #123
Adding a bogus repo called docker-ce-edge makes the install to be successful.

[2020-10-06 14:04] janorn commented on #123
[code]

[2020-10-06 18:09] haxorof commented on #123
Thanks for reporting this! I will have a look at it.

[2020-10-06 18:41] haxorof commented on #123
I managed to reproduce the error you got by running the test suite I got. I will correct this but since it is related to this `edge` channel which they finally removed after so long time then I will do some more cleanups. Will do a new release either today or tomorrow.

Thanks again for reporting this problem! :)

[2020-10-07 07:19] #85 closed

[2020-10-07 07:19] #123 closed

[2020-10-07 07:35] haxorof commented on #123
Release 3.0.0 include the fix. See changelog for more info: https://github.com/haxorof/ansible-role-docker-ce/blob/master/CHANGELOG.md

[2020-10-07 07:35] #83 closed

[2020-10-07 10:02] janorn commented on #123
Thanks!

Works perfectly. Default settings also picks up containerd from docker repo.

[2020-10-08 15:19] janorn opened #124 "Tasks related to removal uses yum instead of dnf for RHEL 8"
### Version Information
Ansible: `2.9.9`
Role: `3.0.0`

### Actual Behavior
RHEL7 uses yum

### New/Changed Behavior
RHEL8 uses dnf

### Issues
The removal tasks is checking for RedHat and looks for yum cache dirs which don't exist on RHEL8

[2020-10-08 16:24] janorn opened #125 "Pip install on RHEL 7 and 8"
### Version Information

Ansible: `2.9.9`
Role: `3.0.0`

### Actual Behavior
TASK [haxorof.docker_ce : Fail if Docker SDK/Stack/Compose shall be installed using PiP on RedHat]
fatal: [host]: FAILED! => {"changed": false, "msg": "This role does not handle packages coming from PiP!"}

### New/Changed Behavior
RHEL7 has python3-pip
RHEL8 has python2-pip and python3-pip

### RFC
Please retest installi

[2020-10-08 17:24] haxorof commented on #125
I will have a look on why I added that block for RHEL but I think I got big problems. Could check what happens now if I just remove that assert and run through my regression tests.

[2020-10-08 17:27] haxorof commented on #124
Thanks! I think I never checked if removal worked on RHEL 8. Think that would be easy to fix.

[2020-10-09 06:50] #124 closed

[2020-10-09 06:51] haxorof commented on #124
Fixes available on master but will do a release later today or tomorrow

[2020-10-09 06:56] haxorof commented on #125
I was looking back on the issues I got with RHEL and you can find more information in another ticket I wrote when investigating this: https://github.com/haxorof/ansible-role-docker-ce/issues/97

What exactly do you want to install of it and what is it that you want to do in the end? If you only want to have docker-compose command line then that is easy to just fetch the binary directly from github

[2020-10-09 10:43] janorn commented on #125
I want the python-docker module. I.e support for docker_container.

---
Jan Örnstedt

[2020-10-09 10:58] janorn commented on #124
Where did Fedora go?

https://github.com/haxorof/ansible-role-docker-ce/blob/5a98977d09459c46d80ebb382e205eacb25cc465/tasks/remove-docker.yml#L137

[2020-10-09 11:28] haxorof commented on #125
Aha, I think that will be a bit hard for me to fix with this role since installation of python pip is different compared to all other distributions what I know now where you need to install scl and activate the python environment using that.

Have you tried yourself just to install pip and Docker SDK manually? Would suggest you to do that first to try. Note also that Docker CE is not officially su

[2020-10-09 16:06] janorn commented on #125
python2-pip is available in epel on rhel7
python3-pip is available in Updates on rhel7

Both are available in rhel8. My testing indicates pip3 being used.

That is as packages.

[2020-10-09 16:08] janorn commented on #125
We use docker already so its not time to divert. We might investigate podman or even go kubernetes in the future.

[2020-10-09 16:37] haxorof commented on #125
Aha thanks, I will then just try to remove the assert I have then and run a the test suite since the role itself already supports python 2 and python 3 install.

Probably will do it some time during the weekend.

Cheers!

[2020-10-09 17:47] haxorof commented on #125
I started a smaller regression test one hour ago without the assert and I have some good news.
Obviously RedHat has changed things since I tested this one year ago so now it worked directly and the only thing I did was to remove the "block" I have made with the assert. :)

Will do another fix too before doing a release.

[2020-10-09 18:16] haxorof opened #126 "Fails on RHEL 7 because $releasever is set to 7Server"
[code]

Need workaround until it this is fixed.

For more info on this see: https://github.com/docker/for-linux/issues/1111

[2020-10-09 18:40] haxorof commented on #124
Good catch! my mistake.. will be fixed in commit I will do before new release.

[2020-10-09 18:51] #125 closed

[2020-10-09 18:51] #126 closed

[2020-10-09 19:02] #81 closed

[2020-10-21 15:37] janorn opened #127 "WSL2: Failing to check docker daemon status"
### Version Information
Ansible: `2.9.6`
Role: `3.1.0`

### Steps to Reproduce
Using this role in Ubuntu 20.04 in WSL2 (Windows Subsystem for Linux)

### Expected Behavior
Ansible run finish correctly

### Actual Behavior
[code]
### References

[2020-10-21 15:45] janorn commented on #127
WSL2 doesnt support systemd.

[2020-10-21 15:56] janorn commented on #127
Perhaps use:

[code]

[2020-10-21 16:28] haxorof commented on #127
Thanks for reporting this. Will see if I get some time into looking into it this weekend.

Cheers!

[2020-10-23 16:42] haxorof commented on #127
Thanks for the PR but I took most of what you did in the PR and improved the things I mentioned. Will reject the PRs and push my changes.

[2020-10-23 16:43] #127 closed

[2020-10-23 17:42] janorn commented on #127
Been busy so I didn't have time to look at it.

[2020-10-24 06:38] haxorof commented on #127
No worries, here too but got a slot yesterday and ran through all regression tests. Please try the new version I just released and hope that will work in WSL2 now. 😊

[2020-10-26 08:25] janorn commented on #127
I tried the new code and it works! Thanks.

[2020-10-26 08:36] janorn opened #129 "Pip: No error message if pip is missing"
### Version Information
Ansible: `2.9.6`
Role: `3.1.1`

### Steps to Reproduce
Run the role on a host missing pip command.
Add this to the playbook:
[code]

### Expected Behavior
Something...

### Actual Behavior
TASK [haxorof.docker_ce : Upgrade/Reinstall PiP] ***********************************************************************
skipping: [127.0.0.1]

TASK [haxorof.docker_ce : Install additiona

[2020-10-26 09:24] janorn commented on #129
My mistake. Variable wasn't used!

[2020-10-26 09:24] #129 closed

[2020-11-05 10:07] janorn opened #130 "Issues with containerd and libseccomp in CentOS 8"
### Version Information
Ansible: `2.9.14`
Role: `3.1.1`

### Steps to Reproduce
Trying to install on CentOS 8 with libseccomp v2.3.3

### Expected Behavior
docker deamon started

### Actual Behavior
[code]

[code]

This solves the issue:
[code]

### References

[2020-11-05 10:12] janorn commented on #130
Somewhat related this issue:
https://github.com/containerd/containerd/issues/4349

Installed version of containerd.io is 1.3.7-3.1

[2020-11-05 12:05] arpitaashu commented on #130
@janorn thanks... update solved my issue

[2020-11-05 12:56] haxorof commented on #130
@janorn Incompatibilities like that in this case is solved by just making sure CentOS 8 is upgrade before starting docker, right? Since in my regression tests I do a yum upgrade before starting tests on CentOS/RHEL 8 and have not seen this issue

[2020-11-05 13:24] janorn commented on #130
I fully understand. If you want to close this its ok. If not a task just checking version might be of use. Anyway the knowledge is here now for people having issues. Real issue is that containerd.io pkg should have a better dependency.

[2020-11-05 13:35] haxorof commented on #130
Let me think about it over the weekend when I got some more time. 😄 Will take a decision what to do.

Thanks anyway for reporting it! Will help people.

[2020-11-05 15:52] janorn opened #131 "Centos8: Issues when trying to install plugins"
### Version Information
Ansible: `2.9.14`
Role: `3.1.1`

### Steps to Reproduce
Install docker with the following variable set.
[code]

### Expected Behavior
Install complete and docker running.

### Actual Behavior
[code]

This seems to be caused by this:
[code]

### References
https://github.com/haxorof/ansible-role-docker-ce/blob/9aa3a95c2a498495ae0c0a4de0d962a45adda852/tasks/configure-docker/c

[2020-11-05 15:55] janorn commented on #131
I can't see any harm in just dropping the when statement. Docker needs to be running to install plugins.
And service is idempotent so if docker is running already nothing will happen.

[2020-11-06 06:28] haxorof commented on #131
Did you do similar to what I did here in my test? https://github.com/haxorof/ansible-role-docker-ce/blob/master/tests/experimental/cis/test_cis.yml

It is a bit complicated when installing the authz and have this special logic around it when you for example install it Docker for the first time because then I need to start Docker first without the authz config to be able to download it with the Doc

[2020-11-06 08:50] janorn commented on #131
I been running with this plugin all the time. But it seems i haven't stumbled on this in my current systems as they already have a running docker. The new check actually doesn't work properly in systemd environments due to the add suffix ".service" in the ansible_facts.services.

[2020-11-06 12:49] haxorof commented on #131
Thanks! I will look into this weekend then.

[2020-11-06 18:19] haxorof commented on #131
Just as note to this issue. Changes related to #127 caused this bug.

[2020-11-07 14:29] #131 closed

[2020-11-09 10:48] janorn commented on #131
Why do we need this code:

https://github.com/haxorof/ansible-role-docker-ce/blob/dd168c6b4166595fc5a5222d05b014e80219ffee/tasks/configure-docker/configure-docker-plugins.yml#L9-L18

When we need the docker daemon to run to install plugins?

This code is only called if there is plugins to be installed:
https://github.com/haxorof/ansible-role-docker-ce/blob/889da07c63e7aec85440caac93049c26827b4419/

[2020-11-09 19:26] haxorof commented on #131
The issue with the plugins is that it needs a Docker daemon to be run with a working configuration for the plugins to be installed. Then different Linux distributions behaves differently (or did in the past) when just enabling the service (not starting it):
https://github.com/haxorof/ansible-role-docker-ce/blob/889da07c63e7aec85440caac93049c26827b4419/tasks/configure-docker.yml#L113-L119

When you

[2020-11-09 21:15] janorn commented on #131
I understand but the test is just checking if it's running don't do anything. But the Ansible service module will start it only if it isn't running. And the task after requires the service to be started. So if it isn't running the install will fail.

Hence we really don't need the when clause. If we came this far we want the daemon to be running to be able to install the plugins in the following t

[2020-11-10 05:54] haxorof commented on #131
Might be that you are not missing something 😄
I cannot remember exactly why I really did it like that but if was for a reason which seems now to be a bit odd now when you pointing at it. Going to write a ticket where I have to review the logic around plugins and discussion about that can continue there.

[2020-11-10 05:59] haxorof opened #132 "Review code around Docker plugin handling"
The handling of Docker plugins was to start with a best effort implementation. This code might include unnecessary when conditions etc which maybe not is necessary and pointed out by @janorn in the last comments in #131.

https://github.com/haxorof/ansible-role-docker-ce/blob/dd168c6b4166595fc5a5222d05b014e80219ffee/tasks/configure-docker/configure-docker-plugins.yml#L9-L18

[2020-11-16 07:20] haxorof commented on #132
After looking into what I previously did is that the reason for having these when conditions was to avoid unnecessary restarts of the docker daemon. I think now it is better to remove them completely to make the code easier even if that cause additional restart even when nothing is changed. This happens because initial configuration must be present without the authz plugin configured for the first

[2020-11-16 07:27] #132 closed

[2021-01-01 10:22] haxorof commented on #130
I will not implement anything around this since also CentOS not that long ago announced it will put CentOS 8 into the grave already next year and only continue with CentOS Stream which basically is a development branch from RHEL.

https://blog.centos.org/2020/12/future-is-centos-stream/

[2021-01-01 10:22] #130 closed

[2021-01-01 11:55] #91 closed

[2021-02-14 20:40] haxorof opened #133 "Add support for AlmaLinux 8"
### Version Information

Role: `3.2.1`

### Proposal

Add support for AlmaLinux 8 since CentOS 8 will be EOL Q4 2021.

### References

https://almalinux.org/

[2021-02-15 18:31] haxorof opened #134 "PiP upgrade no longer works for Python 2"
Because PiP has dropped support for Python 2 in version 21 it is no longer possible to just do a simple `pip install -U pip` on a system with Python 2 like CentOS 7.

This role has to now ensure that PiP upgrade only allow 21 or later for Python 3 and below that for Python 2.

https://pip.pypa.io/en/latest/development/release-process/#python-2-support

[2021-02-16 19:17] #133 closed

[2021-02-16 19:17] #134 closed

[2021-02-18 11:14] janorn opened #135 "Version 3.3.0 forces pip upgrades on RHEL8"
### Version Information
Ansible: `2.9.0`
Role: `3.3.0`

### Steps to Reproduce
Add following vars:

[code]
To your play.

### Expected Behavior
Install pip packages with current pip.

### Actual Behavior
Forces an upgrade of pip

### References
https://github.com/haxorof/ansible-role-docker-ce/blob/f7f1393336d843e829c053e65c0256cd33d15432/tasks/postinstall.yml#L128-L133

[2021-02-19 18:41] haxorof commented on #135
This upgrade of pip was added recently since docker-compose install fails due to new rust dependency added in cryptography library.

What kind of issues does this cause for you?

[2021-02-20 12:20] janorn commented on #135
We don't use docker-compose. And really prefer to keep pip managed by the OS supported repository.

[2021-02-20 12:20] janorn commented on #135
Which library is required?

[2021-02-20 14:36] haxorof commented on #135
docker-compose depends on library cryptography and they added Rust as dependency now which requires upgraded pip version or sometimes cargo library to be installed depending on OS.

Rust dependency is written in the install instructions: https://cryptography.io/en/latest/installation.html

What I can do to introduce one variable for this role to prevent any upgrades of pip if you want? Then you ca

[2021-02-21 08:39] haxorof commented on #135
I will today add an experimental parameter called `docker_x_skip_pip_auto_upgrade`. This will prevent any PiP upgrade to happen in cases the role it needs it. So you can just use that instead of setting `docker_x_fix_no_zipp_module`.

[2021-02-21 09:05] #135 closed

[2021-04-02 13:41] haxorof commented on #113
Won't change this since Debian 9 was EOL at 2020-07-06
https://wiki.debian.org/DebianReleases

[2021-04-02 13:41] #113 closed

[2021-04-14 14:01] janorn opened #136 "Python docker Version 5 Drops support for Python 2"
I assume this could cause issues on centos 7 for instance.

Change log
5.0.0

Breaking changes
- Remove support for Python 2.7
- Make Python 3.6 the minimum version supported

[2021-04-14 15:10] janorn commented on #136
Possible solution in vars:

"docker{​​​​​{​​​​​ '<5.0.0' if ansible_python_version is version('3.0.0', '<') }​​​​​}​​​​​"

[2021-04-14 17:05] haxorof commented on #136
Thanks @janorn for letting me know about this. It can indeed cause issues for distributions using Python 2 like CentOS 7.

Also thanks for suggested solution. Will look into it!

[2021-04-14 17:50] haxorof commented on #136
Just some additional notes to consider when doing fix.
Since Docker SDK for Python (docker) is dropping Python 2 support then docker-compose which is Python based must also be lower than "1.29.0" since in that version it depends on docker 5.0.0

[2021-04-17 09:00] haxorof commented on #136
I will do a new release soon.

Thanks @janorn for the suggested solution which made it a bit quicker to implement the fix. 👍

[2021-04-17 09:06] #136 closed

[2021-06-22 22:38] jamiejackson opened #137 "CentOS 7: "Fetch install PiP version" task throws "ImportError: No module named typing""
### Version Information

Ansible: `2.10.4`

Role: `haxorof.docker_ce (3.3.2)`

OS: `CentOS Linux release 7.6.1810 (Core)`

### Steps to Reproduce

Ran with:

[code]

### Expected Behavior

Run with no errors

### Actual Behavior

[code]

----

This may end up just being a python 3 vs 2 thing.

FYI, this is my first time trying the docker-compose part of the role. I hadn't been able to find a combi

[2021-06-22 22:42] jamiejackson commented on #137
I ran this as an attempted fix:

[code]

Which led to this:

[code]

### Refs:

* https://dba010.com/2021/06/07/python-importerror-no-module-named-typing/

[2021-06-22 22:51] jamiejackson commented on #137
This is interesting:

[code]

[2021-06-22 23:02] jamiejackson commented on #137
Okay, so the role is corrupting pip somehow. I ran:

[code]

Then I ran the role again, which executed:

[code]

And then failed in the same way again.

And CLI fails again, too.

Presumably, something is wrong with the `Upgrade/Reinstall PiP` task.

[2021-06-23 08:02] haxorof commented on #137
This error you get is because you have upgraded pip to version 21 or later. This unfortunately corrupts the pip installation in CentOS 7 so I added in this role to not do that upgrade to 21 (#134). Here is the part that ensure PiP is not being upgraded to 21: https://github.com/haxorof/ansible-role-docker-ce/blob/master/tasks/postinstall.yml#L143-L149
Might be that I missed some combination here.

[2021-06-23 09:52] haxorof commented on #137
I did a test on CentOS 7 now where PiP was installed using package `python-pip` before role was run and also without it being installed so that the role will install it when needed. Conclusion is that it works as expected and the relevant task output are seen below:
[code]
Most important task is the one that ensure PiP is kept below version 21.

Playbook used was:
[code]

[2021-06-23 14:57] jamiejackson commented on #137
Here are the effective `docker_*` vars for this host:

[code]

[2021-06-23 17:14] jamiejackson commented on #137
Let me know if you have any recommendations as to how to get past these issues.

[2021-06-23 17:59] haxorof commented on #137
Thanks!

When you run your playbook. What does it say for task “Ensure PiP upgrade for Python 2 only is upgraded to at most 20.3“?

[2021-06-23 20:58] jamiejackson commented on #137
That's several tasks _after_ the error, as far as I know, so I haven't gotten there yet.

Thanks for the responses so far, BTW.

[2021-06-24 06:37] haxorof commented on #137
I assume you are then talking about the initial failure happening in task `Fetch install PiP version`? If that is the case then the only way to fix that is to run `yum reinstall python-pip` manually since it is not possible to downgrade from PiP version 21 in an good way more than just to reinstall pip.

When you previously did that reinstall of `python-pip` then you ran and wrote this output:
[co

[2021-06-24 19:20] jamiejackson commented on #137
I've just now done  an `rm -rf ~/.ansible/` to make sure everything is fresh. Then I reinstalled roles.

[code]

The following happens whether I begin with python-pip yum-removed or whether I have it yum-installed:

[code]

[2021-06-24 19:28] jamiejackson commented on #137
I just did an experiment where I added a variable to my config:

[code]

Which seemed to work around the problem:

[code]

[2021-06-25 06:58] haxorof commented on #137
Thanks for doing the reinstall of all your roles which made sure you got the right version. Based on the output now it looks good and upgrade is done correctly in regards to pip.

The problem you got with `requests` indicates that something has been installing that before this role in some way or something that remained after your attempts to install docker-compose etc.

If you have a clean and mi

[2021-06-25 12:16] haxorof opened #138 "Add support to upgrade/downgrade docker-compose (binary version)"
Today the role install the binary version of docker-compose if `docker_compose_no_pip` is set to `true`. Once installed it will not try to install it again because it skip those tasks if it finds the docker-compose file in the system.

### Version Information
Role: `3.3.2`

### Actual Behavior

1. Run role with following variables:
[code]
2. Check docker compose version by running `docker-compose

[2021-06-25 12:21] #138 closed

[2021-06-25 15:57] jamiejackson commented on #137
Thanks for the conversation, @haxorof . I'm fine with `wontfix` for now, since we've got a workaround documented, above. If others end up hitting the same issue, we can reconsider.

[2021-06-25 15:57] #137 closed

[2021-08-24 18:52] jamiejackson opened #139 "CentOS 8 Test Failure. (Important, or not?)"
Hello, there's a test failure shown in the README for Centos 8 for s-2. Is that transient/spurious failure or is that something that I should worry about? (We're considering upgrading from 7 to 8 but I want to know if there are any gotchas.)

Thanks!

[2021-11-01 16:12] janorn opened #142 "Docker plugin install seems to be missing "item.args""
In this code there is no reference to the args parameter in the dict. End result if you try to use the Opa example is that it will not find the policy file.

https://github.com/haxorof/ansible-role-docker-ce/blob/afe2eb7dd6371e0471f08a66d15d414c731473ea/tasks/configure-docker/configure-docker-plugins.yml#L17-L21

Perhaps this was the intended code?

[code]

[2021-11-02 05:54] haxorof commented on #142
Thanks @janorn for reporting this! I actually think I must have missed the args and is an optional thing to have. In the opa case they do not require that args to be set. Will correct this.

[2021-11-07 10:09] haxorof opened #143 "Docker restart fails after OPA authz plugin installation on Ubuntu 20.04"
### Version Information
Ansible: `2.10.7`
Role: `3.5.0`

### Steps to Reproduce
Installing Docker plugin `openpolicyagent/opa-docker-authz-v2:0.8` on Ubuntu 20.04 having configuration written about in README under section `On the road to CIS security compliant Docker engine installation`.

### Expected Behavior
Docker installed and configured with Docker OPA authz plugin.

### Actual Behavior
Rest

[2021-11-07 10:24] haxorof commented on #143
After investigation of the issue is comes down to what is done during package installation of `docker-ce` in the different Linux distribution. It seems that when installing `docker-ce` package in Ubuntu 20.04 it also starts and enables the docker service in systemd. This is something which is not done in CentOS/AlmaLinux. It is not an issues as long as no Docker plugin installation is made since r

[2021-11-07 10:34] #142 closed

[2021-11-07 13:30] #143 closed

[2021-11-07 17:18] haxorof commented on #143
@AlexeyShchukinSecurrency Fixes included in latest release now: 3.6.0

[2022-01-30 07:06] haxorof opened #147 "Investigate impact of Docker Compose V2"
Since end of September 2021 Docker Compose V2 (https://github.com/docker/compose/releases) was released and is a complete rewrite and base itself on an more open specification (https://compose-spec.io/).

This role handle installation of both python and the binary version of Docker Compose so it needs some review now since there is incompatibilities which may cause user issues if variable `docker_

[2022-01-30 07:55] haxorof commented on #147
Example of installation:
[code]
After this point it will be possible to see `compose` part of docker cli. So to use "docker-compose" from this point is then `docker compose ...`.

[2022-03-18 13:51] janorn opened #149 "Issues upgrading already installed plugins"
### Version Information

Ansible: `2.9.27`
Role: `3.7.0`

### Steps to Reproduce

First install docker with this config:

[code]

Second re run role but with upgraded plugin.

[code]

### Expected Behavior

Latest version of plugin to be installed.

### Actual Behavior

No change.

Before and after this command gives the same output:

[code]

Close inspection of the plugin after second run show th

[2022-03-18 13:52] janorn commented on #149
Doing some further testing I removed the alias.

First run:

[code]

Second run:

[code]

Only the latest plugin was referenced in the daemon.json config.

[2022-03-18 13:55] janorn commented on #149
Then I did a test on the original setup. But running the install manually but same command as in the role.

[code]

[2022-03-18 13:59] janorn commented on #149
For starters you probably should try to pick up that error.

[code]

[2022-03-18 16:32] janorn commented on #149
Perhaps listing the installed plugins.

[code]

And disabling them and then run.

[code]

However it seems like the upgrade command lacks alias so might not be a viable solution.

[2022-03-20 07:17] haxorof commented on #149
Thanks for reporting this!
The support in this role for installing plug-ins was a best effort implementation to start with. This because already from the beginning it was a bit complex to do the install since it was not made for automation.

Based on what you have tested related to upgrading plug-ins it seems even more difficult and may increase the role complexity too much.

I have to think about

[2022-03-22 15:37] janorn commented on #149
I have found a workaround for my playbook. To make this work I change the plugin alias slightly. As it is in the example you don't assign a version which lead docker to assign ":latest" to it. For my workaround I have decided to have an incremental version on the alias. This will make it possible to both upgrade plugin and also do changes to the plugin config.

[code]

Then adding the following ta

[2022-04-23 13:57] haxorof opened #150 "Service module fail on WSL2 with Ubuntu 20.04"
### Version Information
Ansible: `core 2.12.4`
Role: `3.7.0`

### Steps to Reproduce
Run simplest possible playbook to install Docker with this role in WSL2 with distribution Ubuntu 20.04

### Expected Behavior
Docker successfully installed and started

### Actual Behavior
Any task using service will fail with:
[code]

### References

- https://stackoverflow.com/questions/70200273/failed-to-start-

[2022-04-23 13:59] haxorof commented on #150
Tested to set `use: service` and that worked around the problem.

[2022-04-24 10:56] haxorof opened #151 "Upgrade of docker-compose fails when fetching latest version from Github API"
### Version Information
Ansible: `core 2.12.4`
Role: `3.7.0`

### Steps to Reproduce
Running the playbook twice towards the same target causes the task to fail:
[code]

### Expected Behavior
Docker compose v2 installed successfully installed the first run and then second run all is ok

### Actual Behavior
On second run the following task fail:
[code]

[2022-04-24 10:58] haxorof commented on #151
The reason is fails now is that in the docker-compose releases has changed their release versions to be prefixed with `v` since version `2.0.0`. This causes this task to fail since that is not comparable with the version fetched from the docker-compose command.

[2022-04-24 11:57] #151 closed

[2022-04-24 14:47] #150 closed

[2022-04-24 18:45] haxorof opened #152 "Docker daemon environment variables not set when SysVinit is used"
### Version Information
Ansible: `core 2.12.4`
Role: `3.7.1`

### Steps to Reproduce
Test on distribution that uses sysvinit instead of systemd like in the case when running Ubuntu 20.04 on WSL2
[code]

### Expected Behavior
TESTVAR visible when looking at environment variables for the dockerd process

### Actual Behavior
TESTVAR not visible since it seem for SysVinit it also is necessary to expor

[2022-04-24 18:46] haxorof commented on #152
Added to bottom of docker-envs.j2
[code]

[2022-04-24 19:08] #152 closed

[2022-05-24 17:51] janorn opened #153 "CentOS 7 and pip2 issue"
This line in the code adds python-devel and openssl-devel to my installation. This stops pre installed pip from working. And the install to fail as I have some pip packages defined.

https://github.com/haxorof/ansible-role-docker-ce/blob/3639dfc1ceaba230f8efb54a59e39be7067317d1/tasks/postinstall.yml#L54

As I don't want to upgrade pip I use the variable:
[code]
Would be nice if the dev packages do

[2022-05-24 18:18] janorn commented on #153
I know python2 is EOLed  but we need to live with it as long as we have some centos 7 servers.

[2022-05-25 07:54] janorn commented on #153
This may have been caused by an update of Centos 7. I will continue to investigate.

[2022-05-25 11:51] janorn commented on #153
This turns out to be yet more pip packages that has removed python2 support.
Now I use these restrictions to make it work.
[code]

[2022-05-25 11:51] #153 closed

[2022-05-26 14:29] haxorof commented on #153
@janorn I just tried to run the regression tests I have around the docker sdk etc but it did not fail for me on a CentOS 7. What role configuration do you have around docker sdk and pip?

[2022-05-27 08:16] janorn commented on #153
As we run with builtin pip this is what we do:
[code]
A very simple test is to just do this from a clean centos 7 machine:
[code]
And after that
[code]
That should break you pip install due to a new release of certifi released aprox 1 week ago.

[2022-05-27 12:58] haxorof commented on #153
So you do not install the Docker SDK the way this role got configuration for like seen in the link below?
https://github.com/haxorof/ansible-role-docker-ce/blob/master/tests/regression/test_postinstall.yml#L21-L33

I ran all those tests on the Vagrant VM image  generic/centos7 and it did not fail but will try again and make sure it is using the latest one.

[2022-05-27 15:50] haxorof commented on #153
I ran the regression tests again on an updated CentOS 7 and everything works as expected. Might be that you are better off to handle all that pip relates stuff using a separate roll instead of trying to tweak things in this role since the normal scenarios works which installs the Docker SDK like:
[code]

Here is what is in pip after this kind of installation on the CentOS 7 (generic/centos7):
[cod

[2022-05-27 16:31] janorn commented on #153
Issue is that I can't upgrade pip. I use default pip in centos.

https://centos.pkgs.org/7/epel-x86_64/python2-pip-8.1.2-14.el7.noarch.rpm.html

[2022-05-27 18:03] haxorof commented on #153
That pip version will cause you issues and I added some time ago just a check for not having pip below version 9.0.0: https://github.com/haxorof/ansible-role-docker-ce/blob/master/tasks/postinstall.yml#L121-L127

My role ensure pip2 is at least version 9.0.0 and below version 21.0.0. If it detects you have lower version than 9.0.0 then it will do the upgrade.

[2022-05-27 19:04] janorn commented on #153
I am aware. However I can't upgrade 🙁.

[2022-08-23 08:15] janorn opened #154 "Docker-compose download checksum verification fails."
### Version Information

Ansible: `2.9.27`

Role: `3.7.2`

### Steps to Reproduce
Install latest precompiled docker-compose(2.10.0).

### Expected Behavior
Download precompiled file and verify checksum.

### Actual Behavior
Download of docker-compose works however the sha sum file is now only in the common file no separate files so this fails.
checksums.txt

### References
https://github.com/docke

[2022-08-23 08:25] janorn commented on #154
https://github.com/haxorof/ansible-role-docker-ce/blob/1b4feedb1437467ba54b496d38960ddbef362215/tasks/postinstall.yml#L272-281

[2022-08-23 08:26] janorn commented on #154
https://github.com/haxorof/ansible-role-docker-ce/blob/1b4feedb1437467ba54b496d38960ddbef362215/tasks/postinstall.yml#L272-L281

[2022-08-23 09:12] janorn commented on #154
This works from 2.10.0 unfortunatly not for 2.9.0.

[code]

[2022-08-25 02:22] moonlight16 opened #155 "RHEL8 requires --allowerasing for yum install to work"
### Version Information

[code]

My hosts are running:
[code]

### Steps to Reproduce

I'm running the simple playbook from the README.

### Expected Behavior

### Actual Behavior

It hangs here:
[code]

I run the command directly on the host:

[code]

If I add `--allowerasing` then it will work okay.

### References

[2022-08-26 08:34] haxorof commented on #155
Hi @moonlight16!
If I understand you correctly you are having a RHEL 8 machine with Podman already installed on, correct? Then you now want to install Docker CE using my role?

Cheers!

[2022-08-26 08:40] haxorof commented on #154
Thanks for reporting this and it is a bit annoying that they suddenly change the checksum related asset in that way. Make it harder to handle the different versions the way it is done today in this role. 😄

Will see if I will have a look at this this weekend or not.

[2022-08-27 12:02] haxorof commented on #154
Related to #147

[2022-08-27 12:09] haxorof commented on #154
Looking at the releases of docker-compose it seems they restored the sha256 file again now since release [v2.10.1](https://github.com/docker/compose/releases/tag/v2.10.1). Then I would not update this role just because v2.10.0 did not have the sha256 file. 😄

[2022-08-27 12:09] #154 closed

[2022-10-21 22:12] MichaelMichaelMichaelMichaelMichael commented on #155
I have a similar effect ...
[code]
Ansible playbook:
[code]
Output:
[code]

[2022-10-22 10:35] haxorof commented on #155
Can you please run this command to see if you have installed podman in your system?
[code]